<style>
    :root {
        --theme-colour: #209CD1;
        --grey-color: #F6F6F6;
        --dark-grey-color: #484848;
    }

    .page-header-heading {
        display: flex;
        flex-direction: column;
        width: 100vw;
        padding: 3em 5em;
        background-color: #F6F6F6;
        
    }
    .page-header-heading div>h5 {
            font-weight: 300;
            background-color: #209CD1;
            padding: 0.5em;
            display: inline;
            border-radius: 6px;
            color: white;
            width: calc(90% - 1vw);
        }
      .page-header-heading div:nth-child(2) {
            font-size: calc(1em + 1vw);
            width: 90%;
            margin-top: 1em;
            font-weight: 700;
            color: var(--theme-colour);
        }

    @media screen and (max-width:960px) {
        .page-header-heading{
            padding: 3em 1em;
        }
    }

    @media screen and (max-width:769px) {
        .page-header-heading{
            margin-top: 6em;
        }
    }

    @media screen and (max-width:500px) {
        .page-header-heading {
            margin-top: 3.7em;
        }
    }
</style>

<div class="page-header-heading">
    <div>
        <h5>
            {{#> page-header-heading}}
            There is no content here
            {{/page-header-heading}}
        </h4>
        {{#> page-header-extra-options}}
        {{/page-header-extra-options}}
    </div>
    <div>
        {{#> page-header-data}}
        {{/page-header-data}}
    </div>
</div>