<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{#> title}}{{/title}}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/vitco-logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/header/header.css">
    <link rel="stylesheet" href="/css/loading/loading.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <meta name="description" content="{{#> description}}{{/description}}" />
    {{#> headTags}}{{/headTags}}
</head>
{{#> css}}{{/css}}
<body>
    {{!-- LOADING --}}
    <div class="main-loading">
        <svg id="loading-logo" width="802" height="472" viewBox="0 0 802 472" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
                d="M798.691 236C798.691 299.866 754.53 357.96 682.54 400.169C610.586 442.358 511.084 468.5 401.096 468.5C291.108 468.5 191.605 442.358 119.651 400.169C47.6614 357.96 3.5 299.866 3.5 236C3.5 172.134 47.6614 114.04 119.651 71.831C191.605 29.6424 291.108 3.5 401.096 3.5C511.084 3.5 610.586 29.6424 682.54 71.831C754.53 114.04 798.691 172.134 798.691 236Z"
                stroke="white" stroke-width="2" />
            <path
                d="M783.012 236.75C783.012 294.988 740.732 348.023 671.689 386.585C602.696 425.119 507.282 449 401.808 449C296.334 449 200.92 425.119 131.927 386.585C62.8846 348.023 20.604 294.988 20.604 236.75C20.604 178.513 62.8846 125.478 131.927 86.9156C200.92 48.3812 296.334 24.5001 401.808 24.5001C507.282 24.5001 602.696 48.3812 671.689 86.9156C740.732 125.478 783.012 178.513 783.012 236.75Z"
                stroke="#005BA2" stroke-width="2" />
            <path
                d="M161.419 302.142L161.521 302.004L161.59 301.846L216.074 176H226.388L170.96 310.384C167.652 317.149 164.227 320.87 161.018 322.663C157.862 324.427 154.756 324.416 151.807 323.368C148.807 322.301 145.966 320.152 143.539 317.654C141.145 315.19 139.233 312.47 138.043 310.339L80.5297 176H94.3975C102.741 194.239 114.509 222.291 124.953 247.186C125.325 248.074 125.696 248.958 126.065 249.837C131.501 262.794 136.524 274.75 140.438 283.805C142.395 288.332 144.078 292.144 145.4 294.997C146.061 296.423 146.635 297.619 147.112 298.551C147.573 299.453 147.985 300.193 148.317 300.642C150.555 303.671 153.241 304.893 155.755 304.869C158.179 304.846 160.3 303.655 161.419 302.142Z"
                stroke="white" stroke-width="2" />
            <path
                d="M151.704 262.083L151.773 262.248L151.88 262.392C154.02 265.287 156.321 266.467 158.568 265.808C160.56 265.224 161.77 263.356 162.307 262.084L162.315 262.066L162.322 262.049L196.156 176H207.114L159.59 287.059C158.403 288.979 157.337 289.992 156.475 290.48C155.648 290.948 154.965 290.962 154.363 290.778C153.706 290.577 153.032 290.099 152.394 289.398C151.772 288.714 151.254 287.892 150.891 287.134L104.04 176.75H115.744L151.704 262.083Z"
                stroke="white" stroke-width="2" />
            <path d="M205.526 317H193.085L248.169 181.25H260.61L205.526 317Z" stroke="white" stroke-width="2" />
            <path d="M227.611 317H215.884L270.264 182H281.294L227.611 317Z" stroke="white" stroke-width="2" />
            <path d="M338.315 240.5L308.141 317H294.299L325.844 240.5H338.315Z" stroke="white" stroke-width="2" />
            <path d="M361.814 240.5L330.954 317H317.103L348.649 240.5H361.814Z" stroke="white" stroke-width="2" />
            <path
                d="M311.299 224C306.829 224 302.822 219.677 302.822 213.833C302.822 208.144 306.691 204.5 311.299 204.5H386.842C391.451 204.5 395.32 208.144 395.32 213.833C395.32 219.677 391.313 224 386.842 224H311.299Z"
                stroke="white" stroke-width="2" />
            <path
                d="M294.144 209.487L294.121 209.618V209.75V227H282.155V208.25C282.155 201.711 285.516 195.138 290.584 190.164C295.655 185.188 302.246 182 308.449 182H393.969C399.372 182 405.055 185.043 409.435 189.87C413.803 194.683 416.7 201.087 416.7 207.5V226.25H405.447V209.75V209.711L405.444 209.671C405.312 207.164 404.335 203.493 401.795 200.493C399.197 197.426 395.058 195.178 388.902 195.502C377.56 196.099 330.116 195.751 307.753 195.5L307.688 195.5L307.623 195.504C303.748 195.796 295.996 199.091 294.144 209.487Z"
                stroke="white" stroke-width="2" />
            <path
                d="M800.191 236C800.191 298.439 757.651 356.766 685.131 399.996C612.869 443.072 512.465 470 401.096 470C289.727 470 189.323 443.072 117.061 399.996C44.5409 356.766 2 298.439 2 236C2 173.561 44.5409 115.233 117.061 72.0035C189.323 28.9278 289.727 2 401.096 2C512.465 2 612.869 28.9278 685.131 72.0035C757.651 115.233 800.191 173.561 800.191 236Z"
                stroke="#005BA2" stroke-width="2" />
            <path
                d="M696.843 150.008H703.197V152.171H696.843V150.008ZM693.843 150.008V152.171H690.601V150.008H693.843ZM687.601 150.008V152.171H681.394V150.008H687.601ZM690.601 155.171H693.843V179H690.601V155.171ZM713.011 171.435V179H709.768V150.008H710.057L712.398 156.825L713.011 171.435ZM723.182 179L715.377 156.264L715.114 150.008H715.349L722.817 172.47L724.24 176.751L725.664 172.47L733.13 150.008H733.366L733.103 156.264L725.299 179H723.182ZM735.47 171.435L736.083 156.826L738.423 150.008H738.734V179H735.47V171.435Z"
                stroke="white" stroke-width="2" />
            <path
                d="M440.727 303.498L440.762 303.5H440.796H500.663L495.258 318.487L432.192 317.75L432.183 317.75H432.174C425.443 317.75 420.847 315.72 417.717 312.668C414.557 309.587 412.742 305.32 411.878 300.605C410.141 291.121 412.349 280.358 414.388 275.59L414.399 275.565L414.409 275.54L442.19 203.555C442.191 203.553 442.192 203.55 442.193 203.547C445.819 194.45 449.832 190.065 453.401 187.827C456.581 185.833 459.528 185.447 462.062 185.115C462.354 185.076 462.64 185.039 462.92 185H547.173L540.937 199.25C540.69 199.251 540.399 199.251 540.066 199.251C538.87 199.253 537.135 199.256 534.978 199.262C530.663 199.273 524.657 199.297 517.894 199.344C504.393 199.437 487.859 199.624 475.729 199.999C467.84 199.627 463.553 200.547 460.759 202.29C459.352 203.167 458.404 204.204 457.606 205.206C457.332 205.551 457.089 205.871 456.857 206.177C456.38 206.807 455.948 207.376 455.388 207.967C455.026 208.347 454.672 208.909 454.337 209.506C453.985 210.135 453.591 210.922 453.163 211.836C452.307 213.666 451.285 216.073 450.15 218.89C447.88 224.528 445.133 231.875 442.325 239.673C436.708 255.267 430.82 272.729 427.959 282.06C425.042 291.577 426.374 297.159 429.921 300.26C433.231 303.155 438.015 303.374 440.663 303.495L440.727 303.498Z"
                stroke="white" stroke-width="2" />
            <path
                d="M448.643 293H448.545L448.447 293.013C445.207 293.439 442.804 293.125 441.055 292.398C439.33 291.681 438.158 290.529 437.399 289.098C435.839 286.156 435.961 281.865 437.318 277.716L435.892 277.25L437.318 277.716C442.234 262.676 454.242 227.706 458.55 218.644L458.55 218.644C462.838 209.62 471.677 209.71 475.174 209.746C475.372 209.748 475.554 209.75 475.716 209.75H537.146L531.616 228.5H482.851C482.49 228.5 482.082 228.493 481.638 228.486C479.622 228.455 476.868 228.411 474.445 228.905C472.944 229.211 471.416 229.746 470.19 230.726C468.964 231.704 468.11 233.071 467.848 234.869C465.431 240.981 463.311 246.828 461.78 251.05C461.075 252.995 460.495 254.595 460.069 255.717C459.992 255.918 459.896 256.165 459.785 256.45C459.013 258.433 457.513 262.282 456.769 265.815C456.35 267.805 456.115 269.929 456.532 271.63C456.747 272.51 457.163 273.383 457.92 274.033C458.695 274.698 459.674 275 460.758 275H465.034H509.242L503.007 293H448.643Z"
                stroke="white" stroke-width="2" />
            <path
                d="M674.313 188.884L674.321 188.884H674.328C681.853 188.884 686.985 190.143 690.379 192.218C693.707 194.252 695.493 197.147 696.203 200.788C696.926 204.495 696.531 208.99 695.376 214.091C694.225 219.176 692.35 224.737 690.217 230.537C687.04 239.173 664.379 298.048 659.39 310.799L660.711 311.315L659.39 310.799C658.429 313.255 656.488 316.842 653.833 319.786C651.157 322.754 647.965 324.845 644.497 324.845C636.332 324.845 577.055 324.49 548.245 324.096C542.841 323.733 539.023 322.037 536.378 319.573C533.717 317.094 532.114 313.718 531.371 309.783C529.874 301.857 531.934 291.971 535.431 283.872L535.435 283.864L535.438 283.857L572.376 195.675L572.376 195.675L572.38 195.664C573.313 193.389 575.128 191.463 577.296 190.098C579.469 188.731 581.877 188.002 583.874 188C583.877 188 583.879 188 583.881 188L674.313 188.884Z"
                stroke="white" stroke-width="2" />
            <path
                d="M586.032 212.815L586.05 212.774L586.065 212.732C586.277 212.14 586.74 211.218 587.389 210.474C588.05 209.716 588.717 209.345 589.351 209.345H672.143C673.6 209.741 675.57 210.904 676.757 213.164C677.968 215.47 678.492 219.171 676.402 224.85L676.402 224.85C672.032 236.729 654.783 279.363 646.684 299.246C645.797 301.208 642.441 305.345 636.321 305.345C629.443 305.345 579.2 304.762 554.924 304.469L554.839 304.468L554.754 304.477C553.839 304.57 552.574 304.233 551.805 302.693C550.976 301.031 550.591 297.717 552.405 291.585L586.032 212.815Z"
                stroke="#005BA2" stroke-width="2" />
            <path
                d="M590.02 220.136L590.042 220.085L590.061 220.033C590.06 220.034 590.063 220.026 590.072 220.007C590.08 219.988 590.092 219.962 590.109 219.929C590.142 219.862 590.188 219.777 590.249 219.674C590.371 219.467 590.537 219.213 590.74 218.927C591.148 218.353 591.68 217.689 592.26 217.062C592.845 216.43 593.446 215.873 593.989 215.487C594.259 215.294 594.489 215.163 594.672 215.084C594.853 215.005 594.937 215 594.942 215C594.942 215 594.942 215 594.942 215H661.221C661.492 215 661.809 214.992 662.16 214.984C663.915 214.944 666.522 214.884 668.607 215.621C669.8 216.043 670.589 216.654 670.975 217.492C671.364 218.337 671.501 219.751 670.639 222.119C668.557 227.841 661.635 244.072 654.706 260.32C649.19 273.253 643.67 286.197 640.581 293.862C639.843 295.511 637.04 299 631.934 299C626.064 299 583.157 298.496 562.423 298.242L562.336 298.241L562.25 298.25C561.556 298.322 560.569 298.072 559.955 296.828C559.28 295.46 558.936 292.661 560.474 287.395L590.02 220.136Z"
                stroke="white" stroke-width="2" />
            <path
                d="M599.762 233.028L599.782 232.985L599.799 232.94C599.799 232.94 599.799 232.939 599.801 232.937C599.814 232.913 599.906 232.741 600.149 232.439C600.388 232.142 600.704 231.802 601.056 231.486C601.411 231.167 601.771 230.899 602.095 230.719C602.44 230.528 602.628 230.5 602.672 230.5H651.706C651.982 230.58 652.089 230.675 652.138 230.734C652.197 230.804 652.326 231.008 652.347 231.56C652.393 232.753 651.916 234.865 650.496 238.474C647.669 245.657 636.499 271.463 631.242 283.526C631.055 283.897 630.29 284.817 628.947 285.669C627.634 286.502 625.939 287.155 624.052 287.155C623.04 287.155 621.146 287.164 618.639 287.176C610.032 287.217 594.2 287.292 582.022 287.155L581.942 287.154L581.863 287.162C581.18 287.227 579.658 287.049 578.633 286.201C578.162 285.812 577.774 285.267 577.599 284.451C577.422 283.624 577.447 282.428 577.976 280.731L599.762 233.028Z"
                stroke="#005BA2" stroke-width="2" />
        </svg>
    </div>
    {{!-- NAVBAR --}}
    <div class="user-nav mt-5">
        <div class="upper-nav">
            <div class="logo">
                <a href="/">
                    <img src="/images/vitco-logo.ico" alt="logo" />
                </a>
            </div>
            <div class="searchbar">
                <label>
                    <input type="text" name="" id="" placeholder="Search your query here...." onfocus="search()">
                    <button id="search-btn-top-nav">Search</button>
                </label>
                <div class="search-overlay" onclick="closeSearch()"></div>
                <div class="nav-links">
                    <span><a href="/"> Home</a></span>
                    <span> <a href="#">Categories</a>
                        <div class="dropdown">
                            <ul>
                                <li href="#">Category 1</li>
                                <li href="#">Category 2</li>
                                <li href="#">Category 3</li>
                            </ul>
                        </div>
                    </span>
                    <span> <a href="/"> Blog </a> </span>
                    <span> <a href="/">Apply for Job</a></span>
                    <span> <a href="/complaint/all">Complaints</a> </span>
                </div>
            </div>
            <div class="right-section">
                <div class="hotline-number">

                    <div class="ico">
                        <a href="tel:+919319797703">
                            <i class="bi bi-telephone text-dark" style="font-size: 2em;"></i>
                        </a>
                    </div>
                    <div>
                        <span>Help Line</span>
                        <div class="number">+91-9319797703</div>
                    </div>
                </div>
                <div class="cart">
                    <svg width="60" height="60" viewBox="0 0 45 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M6 2L2 7.33333V26C2 26.7072 2.28095 27.3855 2.78105 27.8856C3.28115 28.3857 3.95942 28.6667 4.66667 28.6667H23.3333C24.0406 28.6667 24.7189 28.3857 25.219 27.8856C25.719 27.3855 26 26.7072 26 26V7.33333L22 2H6Z"
                            stroke="black" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M2 7.33337H26" stroke="black" stroke-width="2.5" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path
                            d="M19.3333 12.6666C19.3333 14.0811 18.7714 15.4377 17.7712 16.4379C16.771 17.4381 15.4145 18 14 18C12.5855 18 11.2289 17.4381 10.2288 16.4379C9.22856 15.4377 8.66666 14.0811 8.66666 12.6666"
                            stroke="black" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <div class="cart-container">
                        <h4 style="text-align: center;margin-top: 0.5em;">Your Cart</h4>
                        <hr class="light-line">
                        <ul style="margin-bottom: 4rem">
                            <li>
                                <span>Lorem, ipsum dolor.</span>
                                <span>Quantity</span>
                            </li>
                            <li>
                                <span>Lorem, ipsum dolor.</span>
                                <span>Quantity</span>
                            </li>
                            <li>
                                <span>Lorem, ipsum dolor.</span>
                                <span>Quantity</span>
                            </li>
                            <li>
                                <span>Lorem, ipsum dolor.</span>
                                <span>Quantity</span>
                            </li>
                            <li>
                                <span>Lorem, ipsum dolor.</span>
                                <span>Quantity</span>
                            </li>
                            <li>
                                <span>Lorem, ipsum dolor.</span>
                                <span>Quantity</span>
                            </li>
                            <li>
                                <span>Lorem, ipsum dolor.</span>
                                <span>Quantity</span>
                            </li>
                            <li>
                                <span>Lorem, ipsum dolor.</span>
                                <span>Quantity</span>
                            </li>
                            <li>
                                <span>Lorem, ipsum dolor.</span>
                                <span>Quantity</span>
                            </li>
                            <li>
                                <span>Lorem, ipsum dolor.</span>
                                <span>Quantity</span>
                            </li>
                        </ul>
                        <div class="cart-container-btn">
                            <button>Proceed To Checkout</button>
                        </div>
                    </div>
                </div>
                <div class="login-btn">
                    {{#if user}}
                    <button style="background-color:transparent;color:black;padding:16px 0;text-transform: capitalize;"
                        onclick="openUserMenu()">Hi!
                        {{user.firstName}}</button>
                    <section class="user-menu-details">
                        <ul>
                            <li onclick="window.location.href ='/user/log-out'">Log out</li>
                            {{!-- <li>Mobile: {{user.phoneNumber}}</li> --}}
                        </ul>
                    </section>
                    {{else}}
                    <a href="/user/sign-up"> <button>Sign up</button></a>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>

    <!-- MOBILE HEADER-->

    <hr style="position: relative;top: 8em;border: 1px solid #e7e7e7;">

    <header class="header" id="header">
        <nav class="navbar nav-container">
            <div style="position: fixed;bottom:0;left:0;">
                <div class="menu" id="menu">
                    <ul class="menu-list menu-list-mobile-closed">
                        <div class="open-mobile-navbar-overlay" onclick="openMenu()"></div>
                        <li class="menu-item previous-menu">
                            <a href="/complaint/all" class="menu-link">
                                <span class="material-symbols-outlined">
                                    forum
                                </span>
                                <span class="menu-name">Complaint</span>
                            </a>
                        </li>
                        <li class="menu-item previous-menu">
                            <a href="tel:+919319797703" class="menu-link">
                                <span class="material-icons">
                                    call
                                </span>
                                <span class="menu-name">Contact</span>
                            </a>
                        </li>
                        <li class="menu-item previous-menu">
                            <a href="/" class="menu-link is-active">
                                <span class="material-icons">
                                    home
                                </span>
                                <span class="menu-name">Home</span>
                            </a>
                        </li>
                        <li class="menu-item previous-menu">
                            <a class="menu-link">
                                <span class="material-icons">
                                    shopping_cart
                                </span>
                                <span class="menu-name">Cart</span>
                            </a>
                        </li>
                        <li class="menu-item extra-menu">
                            <a class="menu-link open-menu">
                                <span class="material-icons">
                                    expand_more
                                </span>
                                <span class="menu-name">Search by Categories</span>
                            </a>
                        </li>
                        <li class="menu-item extra-menu">
                            <a class="menu-link open-menu">
                                <span class="material-icons">
                                    rss_feed
                                </span>
                                <span class="menu-name">Blog</span>
                            </a>
                        </li>
                        <li class="menu-item extra-menu">
                            <a class="menu-link open-menu">
                                <span class="material-icons">
                                    info
                                </span>
                                <span class="menu-name">About Us</span>
                            </a>
                        </li>
                        <li class="menu-item extra-menu">
                            <a class="menu-link open-menu">
                                <span class="material-icons">
                                    quiz
                                </span>
                                <span class="menu-name">FAQs</span>
                            </a>
                        </li>
                        <li class="menu-item extra-menu">
                            {{#if user}}
                            <a href="/user/log-out" class="menu-link">
                                <span class="material-symbols-outlined">
                                    logout
                                </span>
                                <span class="menu-name">Log out</span>
                            </a>
                            {{else}}
                            <a href="/user/sign-up" class="menu-link">
                                <span class="material-icons">
                                    login
                                </span>
                                <span class="menu-name">Sign Up</span>
                            </a>
                            {{/if}}

                        </li>
                        <li class="menu-item extra-menu" onclick="openMenu()">
                            <a class="menu-link">
                                <span class="material-icons">
                                    close
                                </span>
                                <span class="menu-name">Close Menu</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a class="menu-link open-menu" onclick="openMenu()">
                                <span class="material-icons">
                                    expand_less
                                </span>
                                <span class="menu-name">More</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    {{!-- ================================================================ --}}
    <div style="margin-bottom: 8em;"></div>
    {{#> body}}{{/body}}
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    function openUserMenu() {
        $(".user-menu-details").css({
            "opacity": 1,
            "visibility": "visible",
            "top": "2.5em"
        }).toggle();
    }
</script>
<script src="/js/partials/header/header.js"></script>
<script src="/js/partials/loading/loading.js"></script>
{{#> script}}{{/script}}
</html>