:root {
    --theme-colour: #209CD1;
    --theme-dark-colour: #41b6e9;
    --grey-color: #F6F6F6;
    --dark-grey-color: #484848;
}

.jobs-heading {
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding: 3em 5em;
    background-color: var(--grey-color);
    margin-top: 10em;
    >div h3 {
        font-weight: 300;
        background-color: var(--theme-colour);
        padding: 0.5em;
        display: inline;
        border-radius: 6px;
        color: white;
        width: calc(90% - 1vw);
    }
    >div:nth-child(2) {
        font-size: calc(1.5em + 1vw);
        width: 90%;
        margin-top: 1em;
        font-weight: 800;
        color: var(--theme-colour);
        a {
            color: var(--theme-dark-colour);
        }
    }
    // .search-boxes {
    //     display: flex;
    //     justify-content: center;
    //     width: 90vw;
    //     flex-wrap: wrap;
    // }
}

// .searchbox-wrap {
//     display: flex;
//     width: 500px;
//     margin-top: 2%;
//     input {
//         flex: 1;
//         padding: 30px 20px;
//         font-size: 1.1em;
//         border-radius: 6px 0 0 6px;
//         box-shadow: none;
//         border: 1px solid var(--grey-color);
//         outline: none;
//         &:focus {
//             outline: none;
//         }
//     }
//     button {
//         padding-right: 10px;
//         background-color: #fff;
//         border-radius: 6px;
//         border: none;
//         cursor: pointer;
//         cursor: hand;
//         span {
//             margin-left: 50px;
//             padding: 24px 45px;
//             font-size: 0.9em;
//             text-transform: uppercase;
//             font-weight: 300;
//             color: #fff;
//             background-color: var(--theme-colour);
//             border-radius: 6px;
//             transition: all 0.3s ease-in-out;
//             &:hover {
//                 background-color: var(--theme-dark-colour);
//             }
//         }
//     }
// }
// MEADIA QUERIES
@media screen and (max-width:960px) {
    .jobs-heading {
        padding: 3em 1em;
    }
}

@media screen and (max-width:769px) {
    .jobs-heading {
        margin-top: 6em;
    }
}

@media screen and (max-width:500px) {
    .jobs-heading {
        margin-top: 3.7em;
    }
}