<!DOCTYPE html>
<html lang="en">

<head>
    {{>headTags}}
    <title>Vitco India - Apply for jobs</title>
    <link rel="stylesheet" href="scss/applyForJobs/applyForJobs.css">
</head>

<body>
    {{>loading}} {{>header}}

    <div class="jobs-heading">
        <div>
            <h3> Vitco Jobs</h3>
        </div>
        <div>
            Exciting Carrier Opportunities from <a href="/">VITCO</a>
        </div>
        <!-- <div class="search-boxes">
            <div class="searchbox-wrap">
                <input type="text" placeholder="Job Title">
                <button><span>Search</span> </button>
            </div>
            <div class="searchbox-wrap">
                <input type="text" placeholder="Location">
                <button><span>Search</span> </button>
            </div>
        </div> -->
    </div>
    <!-- SCRIPTS -->
    <script src="js/partials/loading/loading.js"></script>
</body>

</html>