<!DOCTYPE html>
<html lang="en">

<head>
    {{>headTags}}
    <title>Vitco India - Blogs</title>
    <link rel="stylesheet" href="scss/blogs/blogs.css">
</head>

<body>
    {{>loading}}{{>header}}
    <div class="blog-heading">
        <div>
            <h3> Vitco blogs</h3>
        </div>
        <div>
            Insights about our personal and work life, and the in-betweens
        </div>
    </div>
    <div class="blog">
        <div>
            <div>
                <div>
                    <span>blog heading</span>
                    <span>AUGUST 13,2021</span>
                </div>
                <div>
                    <h2>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus amet sint excepturi!
                    </h2>
                </div>
                <div>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae doloribus, ipsum iure illum veritatis totam! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae doloribus, ipsum iure illum veritatis totam! Lorem ipsum, dolor sit amet
                    consectetur adipisicing elit. Molestiae doloribus, ipsum iure illum veritatis totam!
                </div>
                <div>
                    <button>Read more &nbsp; <span class="material-symbols-outlined">
                        arrow_forward
                        </span></button>
                </div>
            </div>
            <div>
                <img src="images/dummy-blog.png" alt="">
            </div>
        </div>
    </div>
    <div class="blog">
        <div>
            <div>
                <div>
                    <span>blog heading</span>
                    <span>AUGUST 13,2021</span>
                </div>
                <div>
                    <h2>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus amet sint excepturi!
                    </h2>
                </div>
                <div>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae doloribus, ipsum iure illum veritatis totam! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae doloribus, ipsum iure illum veritatis totam! Lorem ipsum, dolor sit amet
                    consectetur adipisicing elit. Molestiae doloribus, ipsum iure illum veritatis totam!
                </div>
                <div>
                    <button>Read more &nbsp; <span class="material-symbols-outlined">
                        arrow_forward
                        </span></button>
                </div>
            </div>
            <div>
                <img src="images/dummy-blog.png" alt="">
            </div>
        </div>
    </div>
    <div class="blog">
        <div>
            <div>
                <div>
                    <span>blog heading</span>
                    <span>AUGUST 13,2021</span>
                </div>
                <div>
                    <h2>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus amet sint excepturi!
                    </h2>
                </div>
                <div>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae doloribus, ipsum iure illum veritatis totam! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae doloribus, ipsum iure illum veritatis totam! Lorem ipsum, dolor sit amet
                    consectetur adipisicing elit. Molestiae doloribus, ipsum iure illum veritatis totam!
                </div>
                <div>
                    <button>Read more &nbsp; <span class="material-symbols-outlined">
                        arrow_forward
                        </span></button>
                </div>
            </div>
            <div>
                <img src="images/dummy-blog.png" alt="">
            </div>
        </div>
    </div>

    <script src="js/partials/loading/loading.js"></script>
</body>

</html>