@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

a{
    text-decoration: none!important;
    color: #000!important;
}
.number {
    font-family: "Open Sans";
    font-weight: 800 !important;
}

:root {
    --color-black: hsl(0, 0%, 10%);
    --color-white: hsl(0, 0%, 100%);
    --color-darken: hsl(0, 0%, 20%);
    --color-teal-100: hsl(160, 85%, 87%);
    --color-teal-200: hsl(162, 78%, 77%);
    --color-teal-300: hsl(162, 72%, 65%);
    --color-teal-400: hsl(162, 68%, 54%);
    --color-teal-500: hsl(162, 73%, 46%);
    --color-teal-600: hsl(162, 82%, 40%);
    --color-teal-700: hsl(162, 87%, 35%);
    --color-teal-800: #26abe2;
    --color-teal-900: hsl(162, 88%, 26%);
    --shadow-small: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --shadow-medium: 0 -4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}




a,
button {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    text-decoration: none;
    color: black;
}

.user-menu-details {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: 2em;
    z-index: 10;
    width: auto;
}

/* user-menu-details.active{
    opacity: 1;
    visibility: visible;
} */

.user-menu-details ul {
    list-style: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 1em 1em;
    background-color: white;
    width: 100%;

}

.user-menu-details ul li {
    cursor: pointer;
}

.upper-nav {
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 999;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    border-bottom: 2px solid #f7f7f7;
    font-family: "Open Sans", sans-serif;
}

.upper-nav .searchbar {
    width: 43vw;
}

.upper-nav.scrolled {
    -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #fff;
}

.upper-nav .right-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.upper-nav .right-section .hotline-number {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.2em;
    position: relative;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    left: -4em;
}

.upper-nav .right-section .hotline-number div:nth-child(2) span {
    color: #858585;
}

.upper-nav .right-section .hotline-number .ico {
    margin-right: 10px;
}

.upper-nav .right-section .hotline-number .number {
    font-weight: bolder;
}

.upper-nav .right-section .cart:hover .cart-container {
    opacity: 1;
    visibility: visible;
    height: 388px;
}

.upper-nav .right-section .cart:hover .cart-container .cart-container-btn button {
    top: 27em;
}

.upper-nav .right-section .cart svg {
    cursor: pointer;
}

.upper-nav .right-section .cart .cart-container {
    position: absolute;
    border-top: 1px solid #26abe2;
    right: 8em;
    width: 400px;
    opacity: 0;
    height: 50px;
    visibility: hidden;
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.upper-nav .right-section .cart .cart-container::-webkit-scrollbar {
    width: 10px;
}

.upper-nav .right-section .cart .cart-container::-webkit-scrollbar-track {
    background-color: #fff;
}

.upper-nav .right-section .cart .cart-container::-webkit-scrollbar-thumb {
    background-color: #eaeaea;
}

.upper-nav .right-section .cart .cart-container ul {
    list-style: none;
    padding:0;
}

.upper-nav .right-section .cart .cart-container ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}

.upper-nav .right-section .cart .cart-container ul li span:nth-child(1) {
    font-size: large;
    font-weight: bold;
    margin-right: 20px;
}

.upper-nav .right-section .cart .cart-container .cart-container-btn button {
    width: 25em;
    position: fixed;
    top: 5em;
    padding: 10px;
    border: none;
    background-color: #26abe2;
    color: #fff;
    cursor: pointer;
    border-radius: 0 0 5px 5px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.upper-nav .right-section .login-btn {
    position: relative;
}

.upper-nav .right-section .login-btn button {
    padding: 0.7em 2em;
    font-size: larger;
    border-radius: 3px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #26abe2;
    color: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.upper-nav .right-section .login-btn button:hover {
    background-color: #209cd1;
}

.upper-nav .logo img {
    height: 100px;
    width: 131px;
}

.upper-nav .logo .category {
    position: absolute;
    top: 8em;
    font-weight: bold;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    -webkit-transition: opacity 0.1s ease-in-out;
    transition: opacity 0.1s ease-in-out;
}

.upper-nav .logo .category.category-scrolled {
    opacity: 0;
    visibility: hidden;
}

.upper-nav .logo .category:hover,
.upper-nav .logo .category:hover svg path {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    color: #209cd1;
    fill: #209cd1;
}

.upper-nav .searchbar .search-overlay {
    height: 200vh;
    width: 100vw;
    background-color: #f4f4f474;
    z-index: 9999;
    position: absolute;
    top: 2em;
    left: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

.upper-nav .searchbar .search-overlay.active {
    opacity: 1;
    visibility: visible;
}

.upper-nav .searchbar .nav-links {
    position: absolute;
    top: 8em;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.upper-nav .searchbar .nav-links.nav-links-scrolled {
    opacity: 0;
    visibility: hidden;
}

.upper-nav .searchbar .nav-links span {
    margin: 15px;
    cursor: pointer;
    position: relative;
    font-weight: bolder;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.upper-nav .searchbar .nav-links span:nth-child(2):hover .dropdown {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
}

.upper-nav .searchbar .nav-links span:nth-child(2) .dropdown {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding: 20px 0;
    top: 100%;
    transform: translateY(50px);
    left: 0;
    width: 250px;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    z-index: 111;
    transition: 0.4s all;
}

.upper-nav .searchbar .nav-links span .dropdown ul {
    color: black;
    list-style: none;
}

.upper-nav .searchbar .nav-links span .dropdown ul li {
    margin: 1em 0;
    font-weight: 400;
}

.upper-nav .searchbar .nav-links span .dropdown ul li:hover {
    color: #26abe2;
}

.upper-nav .searchbar .nav-links span:nth-child(1) {
    color: #cac7c7;
}

.upper-nav .searchbar .nav-links span:hover {
    color: #cac7c7;
}

.upper-nav .searchbar label {
    position: relative;
    width: 100%;
}

.upper-nav .searchbar input {
    width: 100%;
    padding: 0.7em 8em 0.7em 1em;
    border: 0.3px solid #c6c6c6;
    border-radius: 3px;
}

.upper-nav .searchbar input:focus {
    border: 0.3px solid #858585;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0;
}

.upper-nav .searchbar button {
    position: absolute;
    height: 100%;
    bottom: 0%;
    right: 0%;
    padding: 0.8em 2em 2.1em 2em;
    background-color: #26abe2;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 0 3px 3px 0;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.upper-nav .searchbar button:hover {
    background-color: #209cd1;
}

.category1 {
    width: 95vw;
    background-color: #f6f6f6;
    position: relative;
    top: 8em;
    padding: 15px 150px 15px 30px;
    font-size: larger;
    color: #000;
    font-weight: bolder;
    left: -10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.category1 button {
    padding: 0.7em 2em;
    margin-right: 1em;
    border-radius: 3px;
    background-color: #26abe2;
    border: none;
    cursor: pointer;
    color: white;
}

.category1 button:hover {
    background-color: #209cd1;
}

.categories {
    width: 95vw;
    background-color: #f6f6f6;
    padding: 15px 150px 15px 30px;
    font-size: larger;
    color: #000;
    font-weight: bolder;
    margin-top: 5em;
    left: -10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.categories button {
    padding: 1em 3em;
    border-radius: 3px;
    background-color: #26abe2;
    border: none;
    cursor: pointer;
    color: white;
}

.categories button:hover {
    background-color: #209cd1;
}


/* ======================================================== */


/* MOBILE NAVBAR */


/* ======================================================== */

.nav-container {
    max-width: 75rem;
    height: auto;
    margin: 0 auto;
    padding: 0 1.25rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 100;
}

.navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 4rem;
    margin: 0 auto;
}

.menu {
    display: -ms-grid;
    display: grid;
    -ms-flex-line-pack: center;
    justify-content: center;
    width: 100vw;
    height: 3.5rem;
    padding: 0 1rem;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    background: var(--color-white);
    -webkit-box-shadow: var(--shadow-medium);
    box-shadow: var(--shadow-medium);
    transition: all 0.2s ease-in-out;
}

.menu .extra-menu {
    display: none;
}

.menu .open-mobile-navbar-overlay {
    height: 1000vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    background-color: #f4f4f474;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.menu.open-mobile-navbar {
    height: 25.5rem;
}
.menu.open-mobile-navbar .menu-list {
    height: 22.5em;
    margin-top: 2em!important;
}

.menu.open-mobile-navbar .previous-menu {
    display: none;
}

.menu.open-mobile-navbar .extra-menu {
    display: block;
}

.menu.open-mobile-navbar .open-mobile-navbar-overlay {
    visibility: visible;
    opacity: 1;
}

.menu.open-mobile-navbar .menu-item:last-child {
    display: none;
}

.menu.open-mobile-navbar .menu-name {
    margin-left: 1em;
    font-size: calc(0.9em + 1vw);
}

.menu.open-mobile-navbar .menu-link {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.menu.open-mobile-navbar ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}

.menu.open-mobile-navbar ul a {
    margin: 1em;
}

.menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 90vw;
    padding: 0%;
    height: 3.5em;
    overflow: auto;
}

.menu-list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.menu-list-mobile-closed li:nth-child(1),
.menu-list-mobile-closed li:nth-child(2),
.menu-list-mobile-closed li:nth-child(3),
.menu-list-mobile-closed li:nth-child(4),
.menu-list-mobile-closed li:nth-child(12) {
    max-width: 1em;
}

.menu-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: none;
    outline: none;
    color: var(--color-black);
}

.menu-link.is-active {
    position: relative;
    color: var(--color-teal-800);
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.menu-icon {
    font-size: 1.35rem;
    line-height: 1;
    color: inherit;
}

.menu-name {
    display: inline;
    font-family: inherit;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25;
    visibility: visible;
    text-transform: capitalize;
}


/* MEDIA QUERIES */

@media only screen and (min-width: 3px) {
    .menu-name {
        display: block;
        visibility: visible;
        font-size: 12px;
    }
}

@media only screen and (min-width: 576px) {
    .menu-list {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-column-gap: 3rem;
        column-gap: 3rem;
    }
}

@media only screen and (min-width: 769px) {
    .right-section {
        margin-left: 3em;
    }

    .header {
        background: var(--color-white);
        -webkit-box-shadow: var(--shadow-medium);
        box-shadow: var(--shadow-medium);
        -webkit-transition: all 0.35s ease-in-out;
        transition: all 0.35s ease-in-out;
        display: none;
    }

    .menu {
        position: relative;
        top: 0;
        right: 0;
        width: auto;
        height: auto;
        background: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .menu-link.is-active::before {
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        width: 2rem;
        height: 2px;
        border: none;
        outline: none;
        background: var(--color-teal-800);
    }

    .menu-link:hover {
        color: var(--color-teal-800);
        -webkit-transition: all 0.35s ease;
        transition: all 0.35s ease;
    }

    .menu-icon {
        display: none;
        visibility: hidden;
    }

    .menu-name {
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.5;
        margin-bottom: 0.2rem;
    }
}

@media (min-width: 1023px) {
    .search-overlay {
        display: none;
    }

    html {
        overflow-y: scroll !important;
    }
}

@media (max-width: 1023px) {
    .user-nav {
        padding: 0 20px;
    }

    .user-nav .hotline-number {
        display: none !important;
    }

    .user-nav .category {
        display: none !important;
    }

    .user-nav .nav-links {
        display: flex;
        width: 100vw;
        left: 0;
        top: 7em !important;
        justify-content: center;
    }

    .user-nav .search-overlay {
        top: 5.96em !important;
    }

    

    body>hr {
        display: none;
    }
}

@media (max-width: 767px) {
    .new-complaint-btn {
        transform: scale(0.8);
        bottom: 3.6em !important;
        right: -0.7em !important;
    }
    .upper-nav .searchbar {
        width: auto;
    }
    .upper-nav .searchbar input {
        width: 70vw;
    }

    .cart {
        display: none !important;
    }

    .login-btn {
        display: none;
    }

    .product-quick-view {
        width: 92vw !important;
        margin: 0 !important;
        position: absolute;
        top: 0;
    }

    .product-quick-view .close-sign {
        right: -91.2%;
    }

    .product-quick-view .product-quick-view-button .product-quick-view-btn-group {
        -webkit-box-orient: vertical !important;
        -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
        flex-direction: column !important;
        width: 92vw;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .searchbar label input {
        width: 100%;
    }

    .user-nav .nav-links {
        display: none;
    }
}

@media (max-width: 500px) {
    .logo {
        display: none;
    }
    .upper-nav .searchbar {
        width: 90%;
        margin-top: 1em;
    }
    .upper-nav {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 4em;
        width: 100vw;
    }

    .upper-nav .searchbar input {
        width: 100%;
    }

    .upper-nav .search-overlay {
        top: 4em !important;
    }

    .category1 {
        top: 3em;
    }

    body>hr {
        display: none;
    }
}

@media (max-width: 1210px) {
    .nav-links {
        left: 13em;
    }
}

@media (max-width: 1370px) {
    .hotline-number {
        left: 0em !important;
    }
}