{{>adminHeader}}
{{#*inline "css"}}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<link rel="stylesheet" href="/css/admin/vouchers/delivery-order/view-all.css">
{{/inline}}
{{#*inline "body"}}
<div class="container-fluid" style="position: relative;">
    <span class="py-2 px-4 display-6 page-title border-radius-right d-md-inline d-none">Delivery Order</span>
    <span class="py-2 px-4 page-right-title border-radius-left">
        <ul class="nav nav-pills">
            <li class="nav-item px-1 user-select-none " onclick="filterVouchers('admin')">
                <a class="nav-link my-voucher-pill active px-2 cursor-pointer bg-base-color-nav" data-toggle="pill"
                    role="tab" aria-selected="true">My vouchers</a>
            </li>
            <li class="nav-item px-1 user-select-none " onclick="filterVouchers('all')">
                <a class="nav-link px-2 all-voucher-pill cursor-pointer bg-base-color-nav" data-toggle="pill" role="tab"
                    aria-selected="false">All vouchers</a>
            </li>
        </ul>
    </span>
    <div class="row delivery-order-table">
        <div class="col mt-5 pt-4">
            <h2 class='text-secondary text-center mt-5 hide error'></h2>
            <table>
                <thead>
                    <tr>
                        <th scope="col" class="user-select-none text-truncate"
                            style="word-break:break-all;white-space: nowrap;border-radius:6px 0 0 0 ">
                            Voucher No.</th>
                        <th scope="col" class="user-select-none text-truncate"
                            style="word-break:break-all;white-space: nowrap;">
                            Created By</th>
                        <th scope="col" class="user-select-none text-truncate"
                            style="word-break:break-all;white-space: nowrap;">
                            Order Date</th>
                        <th scope="col" class="user-select-none text-truncate"
                            style="word-break:break-all;white-space: nowrap">
                            Total Amt.</th>
                        <th scope="col" class="user-select-none text-truncate"
                            style="word-break:break-all;white-space: nowrap">
                            Advance</th>
                        <th scope="col" class="user-select-none text-truncate"
                            style="word-break:break-all;white-space: nowrap;">
                            Due</th>
                        <th scope="col" class="user-select-none text-truncate"
                            style="word-break:break-all;white-space: nowrap;border-radius: 0 6px 0 0 ">Dispatch Status
                        </th>
                    </tr>
                </thead>
                <tbody id="all-delivery-voucher-tbody">
                </tbody>
            </table>
            <div class="container text-center mt-5 loading-spinner hide">
                <div class="spinner-border base-color-text" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <h5 class="mt-1">Loading please wait...</h5>
            </div>
        </div>
    </div>






    {{!-- =========================================================== --}}
    {{!-- DETAILS PAGE --}}
    {{!-- =========================================================== --}}
    <div class="voucher-details-container container-fluid ps-4">
        <h3 style="background-color:#26abe2;position:absolute;top:1em;left:0px"
            class="py-2 px-5 text-light border-radius-right shadow">Delivery order</h3>
        <div class="row mt-5 pt-5" style="position: relative;">
            <div class="col-12">
                <h5 class="view-details-divider" style="background-color: #f7f8fa;">Admin details
                </h5>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <div class="my-3">
                        <label class="font-weight-bold" for="adminName">Admin name</label>
                        <div class="suggestionbox-container">
                            <input readonly autocomplete="off" type="text"
                                class="bg-transparent form-control shadow-none" id="adminName" placeholder="admin name">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 offset-md-1">
                <div class="form-group">
                    <div class="my-3">
                        <label class="font-weight-bold" for="createdOn">Created on</label>
                        <div class="suggestionbox-container">
                            <input readonly autocomplete="off" type="text"
                                class="bg-transparent form-control shadow-none" id="createdOn"
                                placeholder="admin created on">

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-3">
                <h5 class="view-details-divider" style="background-color: #f7f8fa;">Order details
                </h5>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <div class="my-3">
                        <label class="font-weight-bold" for="orderDate">Order Date </label>
                        <div class="suggestionbox-container">
                            <input readonly autocomplete="off" type="text"
                                class="bg-transparent form-control shadow-none" id="orderDate" name="orderDate"
                                placeholder="dd/mm/yyyy">
                        </div>
                    </div>
                    {{!-- <div class="my-3">
                        <label class="font-weight-bold" for="partyContactPerson">Receiver Name </label>
                        <div class="suggestionbox-container">
                            <input readonly autocomplete="off" type="text"
                                class="bg-transparent form-control shadow-none" id="partyContactPerson"
                                name="receiverName" placeholder="enter contact person name">

                        </div>
                    </div> --}}
                    <div class="my-3">
                        <label class="font-weight-bold" for="partyName">Consignee</label>
                        <input readonly autocomplete="off" type="text" class="bg-transparent form-control shadow-none"
                            id="partyName" name="consignee" placeholder="enter party name">
                    </div>

                </div>
            </div>
            <div class="col-md-5 offset-md-1">
                <div class="form-group">
                    {{!-- <div class="my-3">
                        <label class="font-weight-bold" for="dispatchDate">Dispatch Date </label>
                        <input readonly autocomplete="off" type="text" class="bg-transparent form-control shadow-none"
                            id="dispatchDate" name="dispatchDate" placeholder="enter representative person">
                    </div> --}}
                    {{!-- <div class="my-3">
                        <label class="font-weight-bold" for="representativePerson">Representative person </label>
                        <input readonly autocomplete="off" type="text" class="bg-transparent form-control shadow-none"
                            id="representativePerson" name="representativeName" placeholder="dd/mm/yyyy">
                    </div> --}}
                    <div class="my-3" style="position: relative;">
                        <label class="font-weight-bold" for="mobile">Consignee Mobile </label>
                        <input readonly autocomplete="off" style="padding-left: 40px" type="number"
                            class="form-control shadow-none bg-transparent" id="mobile" name="consigneeMobile"
                            placeholder="enter party mobile number">
                        <span style="position:absolute;left:5px;bottom:6px;">+91</span>
                    </div>
                    <div class="my-3">
                        <label class="font-weight-bold" for="consigneeAddress">Consignee Address</label>
                        <textarea readonly style="resize: none;background-color:transparent" type="text" rows="4"
                            class="form-control shadow-none" name="consigneeAddress" id="address"
                            placeholder="enter party address"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <div class="mb-3">
                        <label class="font-weight-bold" for="gstNum">GST IN NO.</label>
                        <input readonly autocomplete="off" type="text" class="bg-transparent form-control shadow-none"
                            id="gstNum" name="gstInNum" placeholder="enter gst invoice number">
                    </div>
                </div>
            </div>
            <div class="col-md-5 offset-md-1">
                <div class="form-group">
                    <div>
                        <label class="font-weight-bold" for="aadhaarNum">Aadhar no. / PAN NO. </label>
                        <input readonly autocomplete="off" type="text" class="bg-transparent form-control shadow-none"
                            id="aadhaarNum" name="panNumORaadharNum" placeholder="enter aadhaar number">
                    </div>
                    {{!-- <div class="mb-3">
                        <label class="font-weight-bold" for="panNum">PAN NO.</label>
                        <input readonly autocomplete="off" type="text" class="bg-transparent form-control shadow-none"
                            id="panNum" name="panNum" placeholder="enter pan card number ">
                    </div>
                    <div class="my-3">
                        <label class="font-weight-bold" for="specialIns">Special Instructions</label>
                        <input readonly autocomplete="off" type="text" class="bg-transparent form-control shadow-none"
                            id="specialIns" name="specialInstructions" placeholder="enter special instruments">
                    </div> --}}
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table mt-5" id="allProductsTable">
                <thead>
                    <tr>
                        <th scope="col">Product Name</th>
                        <th scope="col">Serial No.</th>
                        <th scope="col">QTY</th>
                        <th scope="col">Rate</th>
                        <th scope="col">Amount</th>
                        <th scope="col">GST@</th>
                        <th scope="col">GST</th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody class="allProductsTbody">
                </tbody>
            </table>
        </div>
        <div class="row add-product-section">
            <div class="col-12 mt-3 text-secondary">
                <h5>Amount : &#8377; <span class="totalAmount text-primary"> 0 </span></h5>
            </div>
        </div>
        <div class="row">
            <h5 class="view-details-divider advance-payment-heading mt-4" style="background-color: #f7f8fa;">Advance
                Payments</h5>
            {{!-- <div class="col-md-5 advance-payment-container">
                <h6 class="my-3">Mode of payment : <span class="badge badge-primary px-2 mode-of-payment">Bank</span>
                </h6>
                <div class="advancePaymentModeDetails form-group"></div>
                <select class="form-select shadow-none mode-of-advance-payment d-none"
                    aria-label="Default select example">
                    <option value="not selected" selected>Choose mode of payment</option>
                    <option value="bank">Bank</option>
                    <option value="cash">Cash</option>
                    <option value="upi">UPI </option>
                    <option value="others">Others</option>
                </select> <br>
                <div class="mb-3">
                    <div class="form-group advance-upi-details mode-of-payment-details d-none">
                        <label class="font-weight-bold" for="utrNum">Enter UTR number</label>
                        <input readonly autocomplete="off" type="text" class="bg-transparent form-control shadow-none"
                            id="utrNum" placeholder="enter utr number">
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-group advance-others-details mode-of-payment-details d-none">
                        <label class="font-weight-bold" for="otherAdvnc">Describe</label>
                        <textarea readonly style="resize: none;" type="text"
                            class="form-control bg-transparent shadow-none" id="otherAdvnc"
                            placeholder="describe your payment method"></textarea>
                    </div>
                </div>
            </div> --}}
            <div class="col advance-payment-container mb-5 pb-5">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" style="word-break: keep-all;">Mode</th>
                            <th scope="col" style="word-break: keep-all;">Advance Date</th>
                            <th scope="col">Advance Amount</th>
                        </tr>
                    </thead>
                    <tbody class="advanceEntryTbody">
                    </tbody>
                </table>
                <h6 class="text-secondary text-end pe-5">Total advance : &#8377; <span
                        class="totalAdvncSpan text-primary">
                        0 </span></h6>

            </div>
        </div>
        {{!-- <div class="row" style="margin-bottom: 10em;">
            <h5 class="view-details-divider" style="background-color: #f7f8fa;">Dispatch
                Details</h5>

            <div class="col-md-5">
                <div class="form-group">
                    <div class="my-3">
                        <label class="font-weight-bold" for="dispatchedBy">Dispatched By </label>
                        <input readonly autocomplete="off" type="text" class="bg-transparent form-control shadow-none"
                            id="dispatchedBy" name="dispatchedBy" placeholder="who dispatched it ?">
                    </div>
                    <div class="my-3">
                        <label class="font-weight-bold" for="dispatchVehicleNum">Dispatch vehicle no. </label>
                        <input readonly autocomplete="off" type="text" class="bg-transparent form-control shadow-none"
                            id="dispatchVehicleNum" name="dispatchVehicleNum" placeholder="enter vehicle number">
                    </div>
                    <div class="my-3">
                        <label class="font-weight-bold" for="remark">Remark </label>
                        <textarea readonly style="resize: none;background-color:transparent" type="text"
                            class="form-control shadow-none" name="remark" id="remark"
                            placeholder="enter order summary"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-md-5 offset-md-1">
                <div class="form-group">
                    <div class="my-3">
                        <label class="font-weight-bold" for="machineSrNum">Machine Serial No. </label>
                        <input readonly autocomplete="off" type="text" class="bg-transparent form-control shadow-none"
                            id="machineSrNum" name="machineSrNum" placeholder="enter serial number">
                    </div>
                    <div class="mb-3">
                        <label class="font-weight-bold" for="invoiceNum">Invoice No.</label>
                        <input readonly autocomplete="off" type="text" class="bg-transparent form-control shadow-none"
                            id="invoiceNum" name="invoiceNum" placeholder="enter invoice number">
                    </div>
                    <div class="mb-3">
                        <label class="font-weight-bold" for="invoiceDate">Invoice Date</label>
                        <div class="input-group date" data-date-format="dd/mm/yyyy">
                            <input readonly autocomplete="off" type="text" class="bg-transparent form-control"
                                placeholder="dd/mm/yyyy" name="invoiceDate">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> --}}
        <div class="submit-container d-flex justify-content-end ps-3 align-items-center"
            style="position: fixed;bottom:1em;right:1em;">
            <button data-toggle="modal" data-target="#dispatchDOmodal" class="btn text-light mx-2 shadow"
                style="background-color:#00bc6d ;" type="button"><i class="bi bi-truck mx-2"></i>Dispatch</button>
            <button onclick="closeVoucherDetails()" class="btn bg-base-color text-light mx-2 shadow"
                type="button">Close</button>
        </div>

    </div>
</div>

<!-- dispatch modal -->
<div class="modal" id="dispatchDOmodal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header text-light" style="margin: -1px;background-color:#00bc6d ;">
                <h5 class="modal-title" style="font-family:'poppins','Open Sans';">Dispatch your
                    order</h5>
                <button type="button" class="close text-dark" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="dispatchedBy">Dispatched by</label>
                    <input value="{{admin.adminName}}" type="text" class="form-control shadow-none" name="dispatchedBy" id="dispatchedBy" placeholder="who dispatched it">
                </div>
                <div class="form-group">
                    <label for="dispatchVehicleNum">Vehicle no.</label>
                    <input type="text" class="form-control shadow-none" name="dispatchVehicleNum" id="dispatchVehicleNum" placeholder="enter vehicle num">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary border-0 shadow-none"
                    style="background-color:#00bc6d ;"><i class="bi bi-truck mx-2"></i>Dispatch</button>
            </div>
        </div>
    </div>
</div>
<script>
    $('.voucher-details-container').fadeOut(0)
</script>


<div class="fixed-container d-flex justify-content-end ps-3 align-items-center"
    style="position: fixed;bottom:1em;right:1em;">
    <button class="btn bg-base-color text-light shadow-none mx-2" type="button"
        onclick="searchInput.val('');checkFilters()">
        <i class="bi bi-arrow-clockwise"></i>
    </button>
    <button class="btn bg-base-color text-light p-1 px-2 shadow-none"
        onclick="window.location.href ='/vitco-impex/vouchers/delivery-order/new'" type="button"><i
            class="bi bi-plus display-6"></i>
    </button>
</div>

{{/inline}}
{{#*inline "script"}}
<script>
    function ObjectId() { }
    vouchers = [{{{ vouchers }}}]
</script>
{{!-- bootstrap date picker --}}
<script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
{{!-- underscore js --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.13.6/underscore-min.js"
    integrity="sha512-2V49R8ndaagCOnwmj8QnbT1Gz/rie17UouD9Re5WxbzRVUGoftCu5IuqqtAM9+UC3fwfHCSJR1hkzNQh/2wdtg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{{!-- my script --}}
<script src="/js/admin/vouchers/delivery-order/view-all.js"></script>
{{/inline}}