@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");
:root {
    --color-black: hsl(0, 0%, 10%);
    --color-white: hsl(0, 0%, 100%);
    --color-darken: hsl(0, 0%, 20%);
    --color-teal-100: hsl(160, 85%, 87%);
    --color-teal-200: hsl(162, 78%, 77%);
    --color-teal-300: hsl(162, 72%, 65%);
    --color-teal-400: hsl(162, 68%, 54%);
    --color-teal-500: hsl(162, 73%, 46%);
    --color-teal-600: hsl(162, 82%, 40%);
    --color-teal-700: hsl(162, 87%, 35%);
    --color-teal-800: #26abe2;
    --color-teal-900: hsl(162, 88%, 26%);
    --shadow-small: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --shadow-medium: 0 -4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

* {
    font-family: "Open Sans", sans-serif;
}

body,
html {
    overflow-x: hidden;
    user-select: none;
}

// --=================================================================================================================
// CARDS
// ================================================================================================================
.cards-group {
    margin-top: 10em;
    display: flex;
    overflow-y: hidden;
    flex-wrap: wrap;
    justify-content: center;
    .product {
        width: 15em;
        // height: 20em;
        background-color: rgb(250, 250, 250);
        border-radius: 10px;
        padding: 17px;
        position: relative;
        margin: 30px;
        box-sizing: 0;
        cursor: pointer;
        transition: all 0.5s ease-in-out;
        user-select: none;
        &:hover {
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
        .product-img {
            &::before {
                content: "";
                height: 52%;
                width: 100%;
                background-color: rgba(164, 164, 164, 0.459);
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                z-index: 3;
                border-radius: 10px 10px 0 0;
                transition: all 0.3s;
                cursor: pointer;
            }
            span {
                position: absolute;
                display: flex;
                align-items: center;
                top: 20%;
                left: 30%;
                opacity: 0;
                transition: all 0.3s;
                cursor: pointer;
                z-index: 3;
                color: black;
            }
            &:hover:before,
            &:hover span {
                opacity: 1;
            }
            &:hover img {
                transform: scale(1.1);
                transition: all 0.3s ease-in-out;
            }
        }
        .product-desc {
            display: flex;
            flex-direction: column;
            span {
                font-weight: bold;
                font-family: "Open Sans", sans-serif;
            }
            .product-sold span {
                color: grey;
                font-size: 14px;
                font-family: "Open Sans", sans-serif;
            }
        }
        .product-footer {
            display: flex;
            .add-cart {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 3em;
                width: 4.5em;
                background-color: #26abe2;
                position: absolute;
                bottom: 0px;
                left: 0;
                border-radius: 0 5px 0 10px;
                cursor: pointer;
                transition: all 0.3s ease-in-out;
            }
            .price {
                position: absolute;
                bottom: 10px;
                right: 10px;
                font-size: 20px;
                color: #26abe2;
                font-family: "Open Sans", sans-serif;
            }
            &:hover .add-cart {
                width: 10em;
            }
            .add-cart span {
                position: absolute;
                left: 0px;
                padding-left: 20px;
                width: 10em;
                height: 3em;
                display: flex;
                align-items: center;
            }
            &:hover .add-cart span span {
                opacity: 1;
            }
            .add-cart span span {
                color: rgb(255, 255, 255);
                margin-left: 3em;
                opacity: 0;
                transition: all 0.3s ease-in-out;
            }
        }
    }
}

// ====================================================================================
// PRODUCT QUICK VIEW
// ====================================================================================
.product-quick-view-overlay {
    background-color: #cfcfcf52;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 9999999;
    top: 0;
    left: 0;
    transition: all 0.3s ease-in-out;
    &.active {
        opacity: 1;
        visibility: visible;
        overflow: hidden;
    }
}

.light-line {
    border: none;
    height: 2px;
    background-color: #f1f1f1;
    width: 30em;
}

.swiper-slide {
    div:nth-child(3) {
        z-index: 999999999999999;
    }
}

.swiper {
    width: 450px;
    height: 450px;
    margin: 0 3em 1em 0;
}

.product-quick-view-main {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
    width: 100vw;
    display: flex;
    z-index: 999999999;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease-in-out;
    &.active {
        opacity: 1;
        visibility: visible;
        overflow: hidden;
    }
}

.product-quick-view {
    background-color: #ffffff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
    border-radius: 10px;
    overflow-x: hidden;
    width: 150vh;
    div:nth-child(1) {
        display: flex;
        .product-quick-view-more-details {
            display: flex;
            flex-direction: column;
            .product-quick-view-name {
                font-size: xx-large;
                margin-bottom: 10px;
                font-weight: bold;
                margin-top: 1.5em;
            }
            .product-quick-view-rating {
                display: flex;
                flex-direction: row;
            }
            .product-quick-view-status {
                font-size: large;
                margin-top: 10px;
                span {
                    color: rgb(133, 133, 133);
                }
                span span {
                    color: #26abe2;
                }
            }
            .product-quick-view-key-points {
                ul {
                    color: rgb(112, 112, 112);
                    font-weight: 600;
                }
            }
        }
    }
    .product-quick-view-description {
        color: rgb(112, 112, 112);
        margin: 0 1em;
        .product-quick-view-description-title {
            font-size: x-large;
            font-weight: 600;
            display: inline;
        }
    }
    .product-quick-view-button {
        .product-quick-view-btn-group {
            margin-top: 3em;
            button:nth-child(3) {
                background-color: #26abe2;
                color: #fff;
                &:hover {
                    background-color: #209cd1;
                }
            }
            button {
                padding: 10px;
                width: 100%;
                font-size: larger;
                border: none;
                margin: 0 10px 0 10px;
                cursor: pointer;
                background-color: #f1f1f1;
                transition: background-color 0.3s ease-in-out;
                &:hover {
                    background-color: #e6e6e6;
                }
            }
        }
    }
    .close-sign {
        position: relative;
        top: 11%;
        right: -95.2%;
        svg {
            cursor: pointer;
            path {
                transition: all 0.3s ease-in-out;
            }
            &:hover path {
                fill: #b1b0b0;
            }
        }
    }
}

// ========================================================================
//  MEDIA QUERIES
// ========================================================================
@media (max-width: 1210px) and (min-width:984px) {
    .product-quick-view{
        width: 100vw;
        height: 100vh;
    }
}
@media (max-width: 1210px) {
    .product-quick-view{
        width: 100vw;
    }
    .nav-links {
        left: 13em;
    }
}

@media (max-width: 1048px) {
    .swiper {
        width: 400px;
        height: 400px;
    }
    .product-quick-view {
        .product-quick-view-key-points {
            ul {
                font-size: 15px;
                width: 21em;
            }
        }
    }
}

@media (max-width: 767px) {
    .category1 {
        top: 5em!important;
    }
    .cards-group {
        margin-top: 7em;
    }
}

@media (max-width: 984px) {
    .swiper {
        width: 600px;
        height: 600px;
    }
    .product-quick-view-main {
        overflow: scroll !important;
    }
    .product-quick-view {
        overflow-y: scroll;
        overflow-x: hidden;
        margin: 20px;
        margin-top: 46em;
        &>div {
            flex-direction: column;
            .product-quick-view-key-points {
                ul {
                    width: 87vw;
                    padding: 20px;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    #mob-read-more {
        display: none;
    }
}

@media (max-width: 768px) {
    body,
    html {
        overflow-x: hidden;
        overflow-y: auto!important;
    }
    .product {
        width: 13rem!important;
        // height: 19em!important;
        margin: 10px!important;
    }
    .product-quick-view-main.active,
    .product-quick-view-overlay.active {
        opacity: 0!important;
        visibility: hidden!important;
    }
    .product-img::before,
    .product-img>div>span {
        display: none!important;
    }
    .product-quick-view {
        width: 92vw!important;
        margin: 0!important;
        position: absolute;
        top: 0;
        .close-sign {
            right: -91.2%;
        }
        .product-quick-view-button .product-quick-view-btn-group {
            flex-direction: column!important;
            width: 92vw;
            align-items: center;
            button {
                margin: 5px 0;
            }
            button:nth-child(2) {
                display: none;
            }
        }
    }
    .swiper {
        width: 100%!important;
        height: auto!important;
    }
}

@media (max-width: 500px) {
    .category1 {
        top: 3em!important;
    }
    body>hr {
        display: none;
    }
}

@media (max-width: 545px) {
    .cards-group {
        overflow-x: hidden;
        justify-content: space-evenly;
        .product {
            display: flex;
            width: 100vw !important;
            border-radius: 5px;
            padding: 1em 7px 1em 0;
            >div:nth-child(2) {
                width: 55%;
                margin-left: 0.5em;
            }
            .product-footer {
                flex-direction: row-reverse;
                justify-content: space-between;
                align-items: flex-end;
                margin-top: 1em;
                width: 100%;
                &:hover .add-cart {
                    width: 30%;
                }
                .add-cart {
                    width: 30%;
                    bottom: 0;
                    position: initial;
                    border-radius: 5px;
                    &:hover {
                        width: 30%;
                        z-index: 2;
                    }
                    >span {
                        position: initial;
                        padding-left: 15px;
                    }
                    span span {
                        opacity: 0;
                        visibility: hidden;
                        border-radius: 5px 5px 0 0;
                    }
                }
                .price {
                    bottom: 10px;
                    position: initial;
                }
                .product-img {
                    background-color: #fff;
                }
            }
            .product-desc {
                font-size: 13px!important;
                .product-sold span {
                    font-size: 13px;
                }
            }
        }
    }
}

@media (max-width: 413px) {
    .cards-group {
        .product {
            background-color: white;
            padding: 1em 5px 1em 3px!important;
            margin: 1em 0em!important;
            .add-cart {
                width: 37%!important;
                height: 2.4em!important;
                #add-cart-span>svg {
                    height: 1.5em!important;
                    position: relative;
                    left: -10px;
                }
            }
            .product-desc {
                font-size: 14px!important;
                .product-sold span {
                    font-size: 12px!important;
                }
            }
            .product-footer {
                .price {
                    font-size: 18px;
                }
            }
        }
    }
}

@media (max-width: 348px) {
    .cards-group {
        width: 104vw;
        position: relative;
        left: -0.7em;
    }
}