{{>userHeader}}
{{#*inline "title"}}CRM-Company-management{{/inline}}
{{#*inline "description"}}We are engaged in Manufacturing, Trading, and Wholesaling of a wide range of Milk Analyzer,
Packing Machine, Vending Machine and much more.{{/inline}}
{{#*inline "css"}}
<style>
    img {
        height: 30em;
        width: 20em;
        object-fit: cover;
    }
</style>
{{/inline}}
{{#*inline "body"}}
<div class="container-fluid pt-5">
    <div class="row">
        <div class="col d-flex justify-content-center flex-wrap">
            <img src="\images\product5.jpeg" class="m-md-5 m-3">
            <img src="\images\product4.jpeg" class="m-md-5 m-3">
            <img src="\images\product3.jpeg" class="m-md-5 m-3">
            <img src="\images\product2.jpeg" class="m-md-5 m-3">
        </div>
    </div>
</div>
{{/inline}}