<!DOCTYPE html>
<html lang="en" id="html">

<head>
    {{>headTags}}
    <title>Vitco Impex - Dairy Machineries </title>
    <meta name="description"
        content="We are engaged in Manufacturing, Trading, and Wholesaling of a wide range of Milk Analyzer, Packing Machine, Vending Machine and much more" />
    <link rel="stylesheet" href="scss/products/products.css">
</head>

<body>
    {{>loading}} {{>header}}
    <!-- ===========================================================================================-->
    <!-- CARDS -->
    <!-- ================================================================================================ -->
    <div class="category1">
        <span>{{#if user}} <span style="text-transform:capitalize ;">Hi! {{user.firstName}} <br></span>{{/if}}
            Welcome to Vitco Impex</span>
        {{!-- <button>Explore</button> --}}
    </div>
    <div class="cards-container">
        <div class="cards-group">
            <div class="product">
                <div class="product-img">
                    <div>
                        <img height="100%" width="100%" src="images/product5.jpeg" alt="">
                        <span>
                            <svg width="40" height="40" viewBox="0 0 22 15" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M20.87 7.49999C20.23 6.38999 16.71 0.819994 10.73 0.999994C5.20001 1.13999 2.00001 5.99999 1.13001 7.49999C1.04224 7.65201 0.996033 7.82446 0.996033 7.99999C0.996033 8.17553 1.04224 8.34797 1.13001 8.49999C1.76001 9.58999 5.13001 15 11.02 15H11.27C16.8 14.86 20.01 9.99999 20.87 8.49999C20.9578 8.34797 21.004 8.17553 21.004 7.99999C21.004 7.82446 20.9578 7.65201 20.87 7.49999V7.49999ZM11.22 13C6.91001 13.1 4.10001 9.40999 3.22001 7.99999C4.22001 6.38999 6.83001 3.09999 10.83 2.99999C15.12 2.88999 17.94 6.58999 18.83 7.99999C17.8 9.60999 15.22 12.9 11.22 13V13Z"
                                    fill="#424242" />
                                <path
                                    d="M11 4.5C10.3078 4.5 9.63108 4.70527 9.05551 5.08986C8.47993 5.47444 8.03133 6.02107 7.76642 6.66061C7.50152 7.30015 7.4322 8.00388 7.56725 8.68282C7.7023 9.36175 8.03564 9.98539 8.52513 10.4749C9.01461 10.9644 9.63825 11.2977 10.3172 11.4327C10.9961 11.5678 11.6999 11.4985 12.3394 11.2336C12.9789 10.9687 13.5256 10.5201 13.9101 9.9445C14.2947 9.36892 14.5 8.69223 14.5 8C14.5 7.07174 14.1313 6.1815 13.4749 5.52513C12.8185 4.86875 11.9283 4.5 11 4.5V4.5ZM11 9.5C10.7033 9.5 10.4133 9.41203 10.1666 9.2472C9.91997 9.08238 9.72771 8.84811 9.61418 8.57403C9.50065 8.29994 9.47095 7.99834 9.52882 7.70736C9.5867 7.41639 9.72956 7.14912 9.93934 6.93934C10.1491 6.72956 10.4164 6.5867 10.7074 6.52882C10.9983 6.47094 11.2999 6.50065 11.574 6.61418C11.8481 6.72771 12.0824 6.91997 12.2472 7.16665C12.412 7.41332 12.5 7.70333 12.5 8C12.5 8.39782 12.342 8.77936 12.0607 9.06066C11.7794 9.34196 11.3978 9.5 11 9.5Z"
                                    fill="#424242" />
                            </svg>
                            Quick View
                        </span>

                    </div>
                </div>
                {{!-- <div>
                    <div class="product-desc">
                        <div class="product-name">
                            <span>Lorem ipsum dolor sit amet consectetur</span>
                        </div>
                        <div class="product-sold"><span>Lorem ipsum dolor sit amet consectetur, adipisicing elit</span>
                        </div>
                    </div>
                    <div class="product-footer">
                        <div class="add-cart">
                            <span id="add-cart-span">
                                <svg width="40" height="40" viewBox="0 0 45 31" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M6 2L2 7.33333V26C2 26.7072 2.28095 27.3855 2.78105 27.8856C3.28115 28.3857 3.95942 28.6667 4.66667 28.6667H23.3333C24.0406 28.6667 24.7189 28.3857 25.219 27.8856C25.719 27.3855 26 26.7072 26 26V7.33333L22 2H6Z"
                                        stroke="white" stroke-width="2.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path d="M2 7.33337H26" stroke="white" stroke-width="2.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path
                                        d="M19.3333 12.6666C19.3333 14.0811 18.7714 15.4377 17.7712 16.4379C16.771 17.4381 15.4145 18 14 18C12.5855 18 11.2289 17.4381 10.2288 16.4379C9.22856 15.4377 8.66666 14.0811 8.66666 12.6666"
                                        stroke="white" stroke-width="2.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path d="M38 10.6667V20.0001" stroke="white" stroke-width="2.5"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M33.3333 15.3334H42.6667" stroke="white" stroke-width="2.5"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                                <span id="add-to-cart-btn">
                                    Add to cart
                                </span>
                            </span>
                        </div>
                        <div class="price">
                            <span>341234</span>
                        </div>
                    </div>

                </div> --}}
            </div>
            <div class="product">
                <div class="product-img">
                    <div>
                        <img height="100%" width="100%" src="images/product2.jpeg" alt="">
                        <span>
                            <svg width="40" height="40" viewBox="0 0 22 15" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M20.87 7.49999C20.23 6.38999 16.71 0.819994 10.73 0.999994C5.20001 1.13999 2.00001 5.99999 1.13001 7.49999C1.04224 7.65201 0.996033 7.82446 0.996033 7.99999C0.996033 8.17553 1.04224 8.34797 1.13001 8.49999C1.76001 9.58999 5.13001 15 11.02 15H11.27C16.8 14.86 20.01 9.99999 20.87 8.49999C20.9578 8.34797 21.004 8.17553 21.004 7.99999C21.004 7.82446 20.9578 7.65201 20.87 7.49999V7.49999ZM11.22 13C6.91001 13.1 4.10001 9.40999 3.22001 7.99999C4.22001 6.38999 6.83001 3.09999 10.83 2.99999C15.12 2.88999 17.94 6.58999 18.83 7.99999C17.8 9.60999 15.22 12.9 11.22 13V13Z"
                                    fill="#424242" />
                                <path
                                    d="M11 4.5C10.3078 4.5 9.63108 4.70527 9.05551 5.08986C8.47993 5.47444 8.03133 6.02107 7.76642 6.66061C7.50152 7.30015 7.4322 8.00388 7.56725 8.68282C7.7023 9.36175 8.03564 9.98539 8.52513 10.4749C9.01461 10.9644 9.63825 11.2977 10.3172 11.4327C10.9961 11.5678 11.6999 11.4985 12.3394 11.2336C12.9789 10.9687 13.5256 10.5201 13.9101 9.9445C14.2947 9.36892 14.5 8.69223 14.5 8C14.5 7.07174 14.1313 6.1815 13.4749 5.52513C12.8185 4.86875 11.9283 4.5 11 4.5V4.5ZM11 9.5C10.7033 9.5 10.4133 9.41203 10.1666 9.2472C9.91997 9.08238 9.72771 8.84811 9.61418 8.57403C9.50065 8.29994 9.47095 7.99834 9.52882 7.70736C9.5867 7.41639 9.72956 7.14912 9.93934 6.93934C10.1491 6.72956 10.4164 6.5867 10.7074 6.52882C10.9983 6.47094 11.2999 6.50065 11.574 6.61418C11.8481 6.72771 12.0824 6.91997 12.2472 7.16665C12.412 7.41332 12.5 7.70333 12.5 8C12.5 8.39782 12.342 8.77936 12.0607 9.06066C11.7794 9.34196 11.3978 9.5 11 9.5Z"
                                    fill="#424242" />
                            </svg>
                            Quick View
                        </span>

                    </div>
                </div>
                {{!-- <div>
                    <div class="product-desc">
                        <div class="product-name">
                            <span>Lorem ipsum dolor sit amet consectetur</span>
                        </div>
                        <div class="product-sold"><span>Lorem ipsum dolor sit amet consectetur, adipisicing elit</span>
                        </div>
                    </div>
                    <div class="product-footer">
                        <div class="add-cart">
                            <span id="add-cart-span">
                                <svg width="40" height="40" viewBox="0 0 45 31" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M6 2L2 7.33333V26C2 26.7072 2.28095 27.3855 2.78105 27.8856C3.28115 28.3857 3.95942 28.6667 4.66667 28.6667H23.3333C24.0406 28.6667 24.7189 28.3857 25.219 27.8856C25.719 27.3855 26 26.7072 26 26V7.33333L22 2H6Z"
                                        stroke="white" stroke-width="2.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path d="M2 7.33337H26" stroke="white" stroke-width="2.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path
                                        d="M19.3333 12.6666C19.3333 14.0811 18.7714 15.4377 17.7712 16.4379C16.771 17.4381 15.4145 18 14 18C12.5855 18 11.2289 17.4381 10.2288 16.4379C9.22856 15.4377 8.66666 14.0811 8.66666 12.6666"
                                        stroke="white" stroke-width="2.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path d="M38 10.6667V20.0001" stroke="white" stroke-width="2.5"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M33.3333 15.3334H42.6667" stroke="white" stroke-width="2.5"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                                <span id="add-to-cart-btn">
                                    Add to cart
                                </span>
                            </span>
                        </div>
                        <div class="price">
                            <span>₹69999</span>
                        </div>
                    </div>

                </div> --}}
            </div>
            <div class="product">
                <div class="product-img">
                    <div>
                        <img height="100%" width="100%" src="images/product3.jpeg" alt="">
                        <span>
                            <svg width="40" height="40" viewBox="0 0 22 15" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M20.87 7.49999C20.23 6.38999 16.71 0.819994 10.73 0.999994C5.20001 1.13999 2.00001 5.99999 1.13001 7.49999C1.04224 7.65201 0.996033 7.82446 0.996033 7.99999C0.996033 8.17553 1.04224 8.34797 1.13001 8.49999C1.76001 9.58999 5.13001 15 11.02 15H11.27C16.8 14.86 20.01 9.99999 20.87 8.49999C20.9578 8.34797 21.004 8.17553 21.004 7.99999C21.004 7.82446 20.9578 7.65201 20.87 7.49999V7.49999ZM11.22 13C6.91001 13.1 4.10001 9.40999 3.22001 7.99999C4.22001 6.38999 6.83001 3.09999 10.83 2.99999C15.12 2.88999 17.94 6.58999 18.83 7.99999C17.8 9.60999 15.22 12.9 11.22 13V13Z"
                                    fill="#424242" />
                                <path
                                    d="M11 4.5C10.3078 4.5 9.63108 4.70527 9.05551 5.08986C8.47993 5.47444 8.03133 6.02107 7.76642 6.66061C7.50152 7.30015 7.4322 8.00388 7.56725 8.68282C7.7023 9.36175 8.03564 9.98539 8.52513 10.4749C9.01461 10.9644 9.63825 11.2977 10.3172 11.4327C10.9961 11.5678 11.6999 11.4985 12.3394 11.2336C12.9789 10.9687 13.5256 10.5201 13.9101 9.9445C14.2947 9.36892 14.5 8.69223 14.5 8C14.5 7.07174 14.1313 6.1815 13.4749 5.52513C12.8185 4.86875 11.9283 4.5 11 4.5V4.5ZM11 9.5C10.7033 9.5 10.4133 9.41203 10.1666 9.2472C9.91997 9.08238 9.72771 8.84811 9.61418 8.57403C9.50065 8.29994 9.47095 7.99834 9.52882 7.70736C9.5867 7.41639 9.72956 7.14912 9.93934 6.93934C10.1491 6.72956 10.4164 6.5867 10.7074 6.52882C10.9983 6.47094 11.2999 6.50065 11.574 6.61418C11.8481 6.72771 12.0824 6.91997 12.2472 7.16665C12.412 7.41332 12.5 7.70333 12.5 8C12.5 8.39782 12.342 8.77936 12.0607 9.06066C11.7794 9.34196 11.3978 9.5 11 9.5Z"
                                    fill="#424242" />
                            </svg>
                            Quick View
                        </span>

                    </div>
                </div>
                {{!-- <div>
                    <div class="product-desc">
                        <div class="product-name">
                            <span>Lorem ipsum dolor sit amet consectetur</span>
                        </div>
                        <div class="product-sold"><span>Lorem ipsum dolor sit amet consectetur, adipisicing elit</span>
                        </div>
                    </div>
                    <div class="product-footer">
                        <div class="add-cart">
                            <span id="add-cart-span">
                                <svg width="40" height="40" viewBox="0 0 45 31" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M6 2L2 7.33333V26C2 26.7072 2.28095 27.3855 2.78105 27.8856C3.28115 28.3857 3.95942 28.6667 4.66667 28.6667H23.3333C24.0406 28.6667 24.7189 28.3857 25.219 27.8856C25.719 27.3855 26 26.7072 26 26V7.33333L22 2H6Z"
                                        stroke="white" stroke-width="2.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path d="M2 7.33337H26" stroke="white" stroke-width="2.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path
                                        d="M19.3333 12.6666C19.3333 14.0811 18.7714 15.4377 17.7712 16.4379C16.771 17.4381 15.4145 18 14 18C12.5855 18 11.2289 17.4381 10.2288 16.4379C9.22856 15.4377 8.66666 14.0811 8.66666 12.6666"
                                        stroke="white" stroke-width="2.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path d="M38 10.6667V20.0001" stroke="white" stroke-width="2.5"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M33.3333 15.3334H42.6667" stroke="white" stroke-width="2.5"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                                <span id="add-to-cart-btn">
                                    Add to cart
                                </span>
                            </span>
                        </div>
                        <div class="price">
                            <span>₹69999</span>
                        </div>
                    </div>

                </div> --}}
            </div>
            <div class="product">
                <div class="product-img">
                    <div>
                        <img height="100%" width="100%" src="images/product4.jpeg" alt="">
                        <span>
                            <svg width="40" height="40" viewBox="0 0 22 15" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M20.87 7.49999C20.23 6.38999 16.71 0.819994 10.73 0.999994C5.20001 1.13999 2.00001 5.99999 1.13001 7.49999C1.04224 7.65201 0.996033 7.82446 0.996033 7.99999C0.996033 8.17553 1.04224 8.34797 1.13001 8.49999C1.76001 9.58999 5.13001 15 11.02 15H11.27C16.8 14.86 20.01 9.99999 20.87 8.49999C20.9578 8.34797 21.004 8.17553 21.004 7.99999C21.004 7.82446 20.9578 7.65201 20.87 7.49999V7.49999ZM11.22 13C6.91001 13.1 4.10001 9.40999 3.22001 7.99999C4.22001 6.38999 6.83001 3.09999 10.83 2.99999C15.12 2.88999 17.94 6.58999 18.83 7.99999C17.8 9.60999 15.22 12.9 11.22 13V13Z"
                                    fill="#424242" />
                                <path
                                    d="M11 4.5C10.3078 4.5 9.63108 4.70527 9.05551 5.08986C8.47993 5.47444 8.03133 6.02107 7.76642 6.66061C7.50152 7.30015 7.4322 8.00388 7.56725 8.68282C7.7023 9.36175 8.03564 9.98539 8.52513 10.4749C9.01461 10.9644 9.63825 11.2977 10.3172 11.4327C10.9961 11.5678 11.6999 11.4985 12.3394 11.2336C12.9789 10.9687 13.5256 10.5201 13.9101 9.9445C14.2947 9.36892 14.5 8.69223 14.5 8C14.5 7.07174 14.1313 6.1815 13.4749 5.52513C12.8185 4.86875 11.9283 4.5 11 4.5V4.5ZM11 9.5C10.7033 9.5 10.4133 9.41203 10.1666 9.2472C9.91997 9.08238 9.72771 8.84811 9.61418 8.57403C9.50065 8.29994 9.47095 7.99834 9.52882 7.70736C9.5867 7.41639 9.72956 7.14912 9.93934 6.93934C10.1491 6.72956 10.4164 6.5867 10.7074 6.52882C10.9983 6.47094 11.2999 6.50065 11.574 6.61418C11.8481 6.72771 12.0824 6.91997 12.2472 7.16665C12.412 7.41332 12.5 7.70333 12.5 8C12.5 8.39782 12.342 8.77936 12.0607 9.06066C11.7794 9.34196 11.3978 9.5 11 9.5Z"
                                    fill="#424242" />
                            </svg>
                            Quick View
                        </span>

                    </div>
                </div>
                {{!-- <div>
                    <div class="product-desc">
                        <div class="product-name">
                            <span>Lorem ipsum dolor sit amet consectetur</span>
                        </div>
                        <div class="product-sold"><span>Lorem ipsum dolor sit amet consectetur, adipisicing elit</span>
                        </div>
                    </div>
                    <div class="product-footer">
                        <div class="add-cart">
                            <span id="add-cart-span">
                                <svg width="40" height="40" viewBox="0 0 45 31" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M6 2L2 7.33333V26C2 26.7072 2.28095 27.3855 2.78105 27.8856C3.28115 28.3857 3.95942 28.6667 4.66667 28.6667H23.3333C24.0406 28.6667 24.7189 28.3857 25.219 27.8856C25.719 27.3855 26 26.7072 26 26V7.33333L22 2H6Z"
                                        stroke="white" stroke-width="2.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path d="M2 7.33337H26" stroke="white" stroke-width="2.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path
                                        d="M19.3333 12.6666C19.3333 14.0811 18.7714 15.4377 17.7712 16.4379C16.771 17.4381 15.4145 18 14 18C12.5855 18 11.2289 17.4381 10.2288 16.4379C9.22856 15.4377 8.66666 14.0811 8.66666 12.6666"
                                        stroke="white" stroke-width="2.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path d="M38 10.6667V20.0001" stroke="white" stroke-width="2.5"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M33.3333 15.3334H42.6667" stroke="white" stroke-width="2.5"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                                <span id="add-to-cart-btn">
                                    Add to cart
                                </span>
                            </span>
                        </div>
                        <div class="price">
                            <span>₹69999</span>
                        </div>
                    </div>

                </div> --}}
            </div>

        </div>
    </div>
    <!-- PRODUCT DESCRIPTION -->
    <!-- ====================================================================================================== -->

    <div class="product-quick-view-overlay" onclick="closePreview()"></div>
    <div class="product-quick-view-main">


        <div class="product-quick-view">
            <div>
                <div class="close-sign">
                    <svg onclick="closePreview()" width="40" height="64" viewBox="0 0 64 64" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M52 2H12C6.476 2 2 6.477 2 12V52C2 57.523 6.477 62 12 62H52C57.523 62 62 57.523 62 52V12C62 6.477 57.523 2 52 2ZM49.998 42.799L42.799 50L31.998 39.199L21.2 50L13.999 42.799L24.799 32L13.999 21.199L21.2 14L31.998 24.799L42.799 14L49.998 21.199L39.199 32L49.998 42.799Z"
                            fill="#D4D4D4" />
                    </svg>

                </div>
                <div class="product-quick-view-gallery">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img height="100%" width="100%" src="images/dummy product 1 for slider.jpg">
                            </div>
                            <div class="swiper-slide">
                                <img height="100%" width="100%" src="images/dummy product 2 for slider.jpg" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img height="100%" width="100%" src="images/dummy product 3 for slider.jpg" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img height="100%" width="100%" src="images/dummy product 2 for slider.jpg" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img height="100%" width="100%" src="images/dummy product 2 for slider.jpg" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img height="100%" width="100%" src="images/dummy product 1 for slider.jpg" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img height="100%" width="100%" src="images/dummy product 2 for slider.jpg" alt="">
                            </div>

                        </div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
                <div class="product-quick-view-more-details">
                    <div class="product-quick-view-name">
                        <span>BMC 200 L</span>
                    </div>
                    <div class="product-quick-view-rating">
                        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M11 1L14.09 7.26L21 8.27L16 13.14L17.18 20.02L11 16.77L4.82 20.02L6 13.14L1 8.27L7.91 7.26L11 1Z"
                                fill="#FFD100" stroke="#FFD100" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M11 1L14.09 7.26L21 8.27L16 13.14L17.18 20.02L11 16.77L4.82 20.02L6 13.14L1 8.27L7.91 7.26L11 1Z"
                                fill="#FFD100" stroke="#FFD100" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M11 1L14.09 7.26L21 8.27L16 13.14L17.18 20.02L11 16.77L4.82 20.02L6 13.14L1 8.27L7.91 7.26L11 1Z"
                                fill="#FFD100" stroke="#FFD100" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M11 1L14.09 7.26L21 8.27L16 13.14L17.18 20.02L11 16.77L4.82 20.02L6 13.14L1 8.27L7.91 7.26L11 1Z"
                                fill="#FFD100" stroke="#FFD100" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M11 1L14.09 7.26L21 8.27L16 13.14L17.18 20.02L11 16.77L4.82 20.02L6 13.14L1 8.27L7.91 7.26L11 1Z"
                                fill="#FFD100" stroke="#FFD100" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M11 1L14.09 7.26L21 8.27L16 13.14L17.18 20.02L11 16.77L4.82 20.02L6 13.14L1 8.27L7.91 7.26L11 1Z"
                                fill="#FFD100" stroke="#FFD100" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>

                    </div>
                    <div class="product-quick-view-status">
                        <span>Status - <span>Instock</span></span>
                    </div>
                    <hr class="light-line">
                    <div class="product-quick-view-key-points">
                        <ul>
                            <li>Universal 85 – 264VAC or 120 – 370VDC Wide Input voltage</li>
                            <li>Output Voltage and Current: 12V/12.5A ± 1%</li>
                            <li>Low ripple & noise</li>
                            <li>Operating ambient temperature range: -30℃ to +70℃</li>
                            <li>Manufacturer: Mornsun</li>

                        </ul>
                    </div>
                </div>

            </div>
            <div class="product-quick-view-description">
                <div class="product-quick-view-description-title">
                    <span>Description</span>
                </div>
                <div class="product-quick-view-description-detail">
                    <span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lectus felis enim ut enim ut egestas
                        sagittis tortor praesent. Massa at tincidunt non convallis. Id diam in vitae enim aliquam semper
                        id
                        adipiscing et. Amet est, pretium imperdiet mi. Pellentesque ultrices suspendisse in habitant.
                        Sit
                        massa semper amet facilisi dignissim odio ut pellentesque amet. Lectus non turpis sed lobortis a
                        proin facilisi condimentum. Mattis consequat pellentesque leo dolor. Et, mauris orci hac aenean
                        non
                        non. Enim interdum mauris aliquam imperdiet lectus a libero, consequat. Orci, massa quis nisi
                        sed
                        tristique et. Non sit consequat mi in amet, scelerisque. Interdum libero id faucibus tellus
                        lectus
                        lacus dolor ac feugiat. Neque morbi rutrum fermentum ut. Diam id non gravida enim, ullamcorper
                        lobortis enim diam libero.</span> <br> <a id="mob-read-more" style="color: #26abe2;">Read
                        more</a>
                </div>
            </div>
            <div class="product-quick-view-button">
                <div class="product-quick-view-btn-group">
                    <button>
                        <span style="display: flex;align-items: center;justify-content: center;">
                            <svg style="margin-right: 20px;" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M6 2L3 6V20C3 20.5304 3.21071 21.0391 3.58579 21.4142C3.96086 21.7893 4.46957 22 5 22H19C19.5304 22 20.0391 21.7893 20.4142 21.4142C20.7893 21.0391 21 20.5304 21 20V6L18 2H6Z"
                                    stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M3 6H21" stroke="black" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path
                                    d="M16 10C16 11.0609 15.5786 12.0783 14.8284 12.8284C14.0783 13.5786 13.0609 14 12 14C10.9391 14 9.92172 13.5786 9.17157 12.8284C8.42143 12.0783 8 11.0609 8 10"
                                    stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                            Add to Cart
                        </span>
                    </button>
                    <button>Read more</button>
                    <button>
                        <span style="display: flex;align-items: center;justify-content: center;">
                            <svg style="margin-right: 20px;" width="25" height="24" viewBox="0 0 25 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_23_63)">
                                    <path d="M16.5 3H1.5V16H16.5V3Z" stroke="#fff" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M16.5 8H20.5L23.5 11V16H16.5V8Z" stroke="#fff" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                    <path
                                        d="M6 21C7.38071 21 8.5 19.8807 8.5 18.5C8.5 17.1193 7.38071 16 6 16C4.61929 16 3.5 17.1193 3.5 18.5C3.5 19.8807 4.61929 21 6 21Z"
                                        stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    <path
                                        d="M19 21C20.3807 21 21.5 19.8807 21.5 18.5C21.5 17.1193 20.3807 16 19 16C17.6193 16 16.5 17.1193 16.5 18.5C16.5 19.8807 17.6193 21 19 21Z"
                                        stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_23_63">
                                        <rect width="24" height="24" fill="white" transform="translate(0.5)" />
                                    </clipPath>
                                </defs>
                            </svg>
                            Order Now
                        </span>
                    </button>

                </div>
            </div>

        </div>

    </div>







    <span style="position: absolute; top: 10000vh;">sdfsd</span>

    <!-- Swiper js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.0.7/swiper-bundle.min.js"
        integrity="sha512-WlN87oHzYKO5YOmINf1+pSkbt4gm+lOro4fiSTCjII4ykJe/ycHKIaa9b2l9OMkbqEA4NxwTXAGFjSXgqEh19w=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>



        const swiper = new Swiper('.swiper', {
            loop: true,

            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });

    </script>
</body>
{{>commonScripts}}
<script src="/js/products/products.js"></script>


</html>