{{>adminHeader}}
{{#> style}}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Amaranth:ital@1&family=Hind+Siliguri&family=Montserrat:wght@500&family=Mukta:wght@700&family=Open+Sans:wght@700&family=Raleway:wght@500&family=Roboto:wght@400;700&display=swap');

    * {
        word-break: break-word;
    }

    :root {
        --base-dark-color: #5C8EB5;
        --base-grey-color: #525252;
    }

    .menu-link[data-link="inventory"] {
        background-color: #26ABE2;
        color: #fff;
    }

    /* TABLE */
    table {
        border-collapse: collapse;
        margin: 2em 0;

        width: 100%;
        table-layout: fixed;
    }

    table caption {
        font-size: 1.5em;
        margin: .5em 0 .75em;
    }

    table tr {
        background-color: #ffffff;
        padding: .35em;
    }

    #warehouse-table-body tr:hover {
        background-color: rgb(250, 250, 250);
        cursor: pointer;
    }

    table th:nth-child(1) {
        border-radius: 6px 0 0 0
    }

    table th:last-child {
        border-radius: 0 6px 0 0
    }

    table th,
    table td {

        padding: 1em 10px;
        text-align: center;
    }


    table th {
        font-size: .85em;
        letter-spacing: .1em;
        text-transform: uppercase;
        background-color: #5C8EB5;
        color: #fff;
    }

    @media screen and (max-width: 600px) {
        table {
            border: 0;
        }

        table caption {
            font-size: 1.3em;
        }

        table thead {
            border: none;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }

        table tr {
            border-bottom: 3px solid #ddd;
            display: block;
            margin-bottom: .625em;
        }

        table td {
            border-bottom: 1px solid #ddd;
            display: block;
            font-size: .8em;
            text-align: right;
        }

        table td::before {
            /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
            content: attr(data-label);
            float: left;
            font-weight: bold;
            text-transform: uppercase;
        }

        table td:last-child {
            border-bottom: 0;
        }
    }

    /* ============================================================================================================================= */


    .add-new-item-modal,
    .check-in-out-modal {
        position: absolute;
        width: calc(100vw - 16.5em);
        height: 100vh;
        top: 0;
        right: 0;
        background-color: #ffffff;
        z-index: 11;

    }

    @media (max-width:1200px) {

        .add-new-item-modal,
        .check-in-out-modal {
            width: 100vw;
            height: 100vh;
        }
    }

    @media (max-width:768px) {

        .add-new-item-modal,
        .check-in-out-modal {
            height: auto;
        }
    }

    .add-new-item-modal h3 {
        font-family: 'Montserrat', sans-serif;
        color: #353234;
    }

    .add-new-item-modal .product-img div {
        height: 200px;
        width: 200px;
        border-radius: 10px;
        color: #26ABE2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #e1f6ff;
        border: 3px dotted #26ABE2;
        cursor: pointer;
    }

    .add-new-item-modal .product-img div.active {
        background-color: transparent !important;
        background-size: cover !important;
        border: none !important;
    }

    .add-new-item-modal .product-img div i {
        font-size: 30px;
    }

    .add-new-item-modal .product-img div p {
        font-size: 13px;
        font-weight: 600;
    }

    .new-design-button {
        background-color: transparent;
        border: 2px solid #cfcfcf;
        padding: 0.2em 0.7em;
        border-radius: 5px;
        font-weight: 500;
        font-size: 13px;
        color: var(--base-grey-color);
    }

    .new-design-button:hover {
        color: #000;
    }

    .top-header-filter .new-design-button.active {
        background-color: #26ABE2;
        color: #fff;
        border: 2px solid #26ABE2;
    }

    .stock-status-in {
        padding: 1px 5px;
        border-radius: 5px;
        border: 2px solid #3eb940;
        background-color: #d4f1d5;
        color: #3eb940;
    }

    .stock-status-out {
        border: 2px solid #d2382a;
        padding: 1px 5px;
        border-radius: 5px;
        background-color: rgb(255 234 232);
        color: #d2382a;
    }

    .reports-details-container {
        height: 3em;
        width: 100%;
        background-color: #fff;
        border-radius: 5px;
    }

    .reports-details-container .reports-details p {
        font-size: 11px;
        font-weight: bolder;
        color: var(--base-grey-color);
    }

    .input-icon-right {
        position: absolute;
        right: 8px;
        top: 4px;
        font-size: 22px;
    }

    .searchable-select {
        width: 100%;
    }

    .inventary-product-details .heading {
        font-family: 'Roboto', sans-serif;
        border-bottom: 1px solid #e7e7e7;
        padding-bottom: 1em;
    }

    .inventary-product-details .product-info {
        border-right: 1px solid #e7e7e7;
    }

    @media (max-width:768px) {
        .inventary-product-details .product-info {
            border-right: none;
            border-bottom: 1px solid #f2f2f2
        }
    }

    .inventary-product-details .product-info h6 {
        color: #5b5b5b;
    }

    .inventary-product-details .stock-history .success {
        background-color: #3eb940 !important;
        color: white !important;
    }

    .inventary-product-details .stock-history .danger {
        background-color: #d2382a;
        color: white !important;
    }

    /*  VIEW PRODUCT HSITORY DIALOG BOX  */
    .viewProductStockHistory {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
    }

    .viewProductStockHistory .heading {
        font-size: 22px;
        font-weight: 500;
        text-align: center;
        margin: 1em;
    }

    .viewProductStockHistory .body {
        height: 37em;
        width: 30em;
        overflow: auto;
        margin: 1em 1em 0 1em;
    }

    .viewProductStockHistory .stock-history .success {
        background-color: #3eb940 !important;
        color: white !important;
    }

    .viewProductStockHistory .stock-history .danger {
        background-color: #d2382a;
        color: white !important;
    }

    @media (max-width:817px) {
        .viewProductStockHistory {
            width: 100%;
        }

        .viewProductStockHistory {
            margin: 0;
            height: 100vh;
        }

        .viewProductStockHistory .body {
            height: 89%;
            width: 100%;
        }
    }
</style>
{{/style}}
{{#*inline "body"}}
<div class="container-fluid px-md-5 mt-3">
    <div class="row">
        <div class="col-12 py-1 d-flex justify-content-between" style="overflow:hidden;">
            <div class="top-header-filter">
                <span class="font-weight-bold me-2">Find </span>
                <span class="cursor-pointer user-select-none new-design-button active" data-filter="inventory"
                    onclick="filterProducts('inventory')">Inventory</span>
                <span class="cursor-pointer user-select-none new-design-button " data-filter="items"
                    onclick="filterProducts('items')">Products</span>
                <script>
                    function filterProducts(cmd) {
                        $('.top-header-filter .new-design-button').removeClass('active')
                        $(`.top-header-filter .new-design-button[data-filter="${cmd}"]`).addClass('active')
                        if (cmd == "items") {
                            getAllProducts()
                        } else if (cmd == "inventory") {
                            inventory()
                        }
                    }
                </script>
            </div>
            <div class="top-header-middle">
                <span class="cursor-pointer new-design-button reports">Reports<i
                        class="bi bi-chevron-double-down ms-2"></i></span>
            </div>
            <div>
                <span class="cursor-pointer new-design-button mx-1">Download Report <i
                        class="bi bi-cloud-download ms-1"></i></span>
                <span class="cursor-pointer new-design-button mx-1">Filter <i
                        class="bi bi-chevron-down ms-1"></i></span>
            </div>
        </div>
    </div>

</div>

<div class="container-fluid px-md-4 mb-5 pb-5" style="position: relative;">
    <div class="row warehouse-table-container">
        <div class="col">
            <table class="mt-3">
                <thead>
                    <tr>
                        <th scope="col px-2" class="text-truncate">Product name</th>
                        <th scope="col" class="text-truncate">Category</th>
                        <th scope="col" class="text-truncate">Rate</th>
                        <th scope="col" class="text-truncate">Min stock</th>
                        <th scope="col" class="text-truncate">Unit</th>
                    </tr>
                </thead>
                <tbody id="warehouse-table-body">
                </tbody>
            </table>
        </div>
    </div>
    {{!-- INVENTORY PRODUCT DETAILS --}}
    <div class="details-container inventary-product-details ps-md-5 ps-4" style="display: none;">
        <div class="row">
            <div class="col">
                <h2 class="heading d-flex align-items-center"><img src="/images/admin1.jpg" class="rounded-circle me-4"
                        style="height: 1.5em;width:1.5em;object-fit:cover;object-position:center"> <span> V Bond</span>
                </h2>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-md-2 py-2 product-info pe-2">
                <h6>Category</h6>
                <h5 data-info="category" data-toggle="tooltip" data-placement="top" class="text-truncate">Finished
                    products</h5>
            </div>
            <div class="col-md-2 py-2 product-info pe-2">
                <h6>Stock</h6>
                <h5 data-info="currentStock">200</h5>
            </div>
            <div class="col-md-2 py-2 product-info pe-2">
                <h6>Unit</h6>
                <h5 data-info="unit">Bundle</h5>
            </div>
            <div class="col-md-2 py-2 product-info pe-2">
                <h6>Rate</h6>
                <h5 data-info="rate">20000</h5>
            </div>
            <div class="col-md-2 py-2 product-info pe-2">
                <h6>Min. Stock</h6>
                <h5 data-info="minimumStock">20000</h5>
            </div>
            <div class="col-md-2 py-2 product-info pe-2">
                <h6> <span data-toggle="tooltip" data-placement="top" title="Stock Keeping Unit"> SKU</span></h6>
                <h5 data-info="SKU">20000</h5>
            </div>
        </div>
        <div class="row mb-5 pb-5">
            <div class="col-12 py-4" style="border-top: 1px solid #cccccc;">
                <h5 class="d-flex justify-content-between align-items-center">
                    <span> Stock history</span>
                    <select class="form-select filterStockHistory" style="width: 10em;">
                        <option value="all">All</option>
                        <option value="last-month">Last Month</option>
                    </select>
                    <script>
                        function filterStockHistory(arr) {
                            select = $('.inventary-product-details .filterStockHistory').val()
                            if (select != "all") {
                                filteredArr = filterArrDate(-30, 0, arr)

                            } else {
                                filteredArr = arr
                            }
                            $('.inventary-product-details .stock-history.list-group').html('')
                            printStockHistory(filteredArr, ".inventary-product-details .stock-history.list-group")
                        }
                    </script>
                </h5>
            </div>
            <div class="col-12">
                <div class="list-group stock-history">
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- ADD NEW ITEM MODAL --}}
<div class="add-new-item-modal hide px-md-0 px-1">
    <h4 class="font-weight-bold m-md-4 mx-md-5 mx-3 mt-4">Create new product</h4>
    <div class="product-info container">
        <form>
            <div class="row">
                <div class="col-lg-4 col-md-5 mt-5 ms-smd-5 mb-5 d-flex align-items-center flex-column">
                    <div class="product-img m-0">
                        <div>
                            <i class="bi bi-image-fill"></i>
                            <p>+ Choose product image</p>
                            <input hidden type="file" name="new-product-img" id="new-product-img"
                                accept="image/*,.jpg,.png,.jpeg">
                        </div>
                        <script>
                            $('#new-product-img').on('change', (e) => {
                                productImgSrc = URL.createObjectURL(event.target.files[0]);
                                $('.add-new-item-modal .product-img div').addClass('active').attr('style', `background:url('${productImgSrc}')`);
                                $('.add-new-item-modal .product-img div p').fadeOut(0)
                                $('.add-new-item-modal .product-img div i').fadeOut(0)
                                //ProductImgCmd("show",`${productImgSrc}`)
                            })
                        </script>
                    </div>
                    <p class="mb-0 mt-2 ms-2 font-weight-bold">Upload Product Image</p>
                </div>
                <div class="col-md-6 pb-5 pt-2" style="overflow-y: auto;">
                    <div class="form-group">
                        <label for="productName" class="font-weight-bold text-secondary">Product name</label>
                        <input required type="text" class="form-control shadow-none" name="productName" id="productName"
                            placeholder="enter your product name">
                    </div>
                    <div class="form-group">
                        <label for="categoryName" class="font-weight-bold text-secondary">Category</label>
                        <select class="form-select" name="categoryName">
                        </select>
                        <input type="text" class="form-control shadow-none newCategoryName" hidden
                            placeholder="name your category">
                        <h6 class="my-2 text-primary cursor-pointer user-select-none add-new-category-btn"
                            onclick="addNewCategory('add')">add new categrory</h6>
                        <script>
                            function addNewCategory(cmd) {
                                if (cmd == "add") {
                                    // add new category
                                    $('.add-new-item-modal .add-new-category-btn').html("Choose category").attr('onclick', 'addNewCategory("remove")')
                                    $('.add-new-item-modal select[name="categoryName"]').fadeOut(10);
                                    $('.add-new-item-modal .newCategoryName').attr({ 'hidden': false, 'required': true }).val('').attr('name', 'categoryName')
                                } else if (cmd == "remove") {
                                    // select category
                                    $('.add-new-item-modal .add-new-category-btn').html("add new categrory").attr('onclick', 'addNewCategory("add")')
                                    $('.add-new-item-modal select[name="categoryName"]').fadeIn(10);
                                    $('.add-new-item-modal .newCategoryName').attr({ 'hidden': true, 'required': false }).val('').removeAttr('name')
                                }
                            }
                        </script>
                    </div>
                    <div class="form-group">
                        <label for="rate" class="font-weight-bold text-secondary">Rate</label>
                        <div style="position: relative;">
                            <input required type="number" class="form-control shadow-none ps-4" name="rate" id="rate"
                                placeholder="enter your product price">
                            <i class="bi bi-currency-rupee input-icon-left"></i>
                        </div>
                    </div>
                    <div class="form-group d-flex justify-content-between flex-wrap">
                        <div class=" w-100">
                            <label for="minimumStock" class="font-weight-bold text-secondary">Min Stock</label>
                            <input required type="number" class="form-control shadow-none" name="minimumStock"
                                id="minimumStock" placeholder="enter minimum stock">
                        </div>
                        {{!-- <div class=" w-100 mt-md-0 mt-3">
                            <label for="productName" class="font-weight-bold text-secondary">Unit of measurement</label>
                            <input required type="number" class="form-control shadow-none rounded-0" name="maximumStock"
                                id="maximumStock" placeholder="enter maximum stock">
                        </div> --}}
                    </div>
                    <div class="form-group">
                        <label for="unit" class="font-weight-bold text-secondary">Unit of measurement</label>
                        <select class="form-select" name="unit" id="unit">
                            <option value="null">Select an option</option>
                            <option value="Unit">Unit</option>
                            <option value="Kgs">Kg</option>
                            <option value="Bundle">Bundle</option>
                        </select>
                    </div>
                    <div class="form-group sku-input">
                        <label for="SKU" class="font-weight-bold text-secondary">Stock keeping unit ( SKU )</label>
                        <div style="position: relative;">
                            <input required type="text" class="form-control shadow-none pr-5" name="SKU" id="SKU"
                                placeholder="enter product SKU">
                            <i class="bi bi-code-square input-icon-right cursor-pointer"
                                onclick="generateSKU($('.add-new-item-modal form')).then(res=>{$(this).parent().children('input').val(res)})"
                                data-toggle="tooltip" data-html="true" title="Generate SKU"></i>
                        </div>
                    </div>
                    {{!-- VIEW STOCK HISTORY ADD NEW PRODUCT SECTION --}}
                    <div class="form-group stockHistory">
                        <button type="button" class="btn bg-success text-light w-100 shadow-none"
                            onclick=" $('#viewProductStockHistory').fadeIn(100)">
                            View Stock History
                        </button>

                        <div class="viewProductStockHistory shadow" id="viewProductStockHistory" style="display: none;">
                            <div class="heading ">
                                <span class="cursor-pointer" onclick="$('#viewProductStockHistory').fadeOut(100)">
                                    Close
                                </span>
                            </div>
                            <div class="body">
                                <div class="list-group stock-history">
                                </div>
                            </div>
                        </div>
                    </div>
                    {{!-- <div class="form-group">
                        <label for="currentStock" class="font-weight-bold text-secondary">Current stock</label>
                        <input required type="text" class="form-control shadow-none" name="currentStock"
                            id="currentStock" placeholder="enter current stock">
                    </div> --}}
                    {{!-- <div class="form-group">
                        <label for="description" class="font-weight-bold text-secondary">Description</label>
                        <input type="text" class="form-control shadow-none" name="description" id="description"
                            placeholder="enter product description ( optional )">
                    </div> --}}
                    <div class="newProductFooterSec form-group justify-content-end mt-3 align-items-center flex-wrap"
                        style="display: flex;">
                        <p class="error text-danger mx-3 d-md-inline d-block m-0"></p>
                        <button class="btn bg-text-base-color shadow-none" type="submit">Register</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>





{{!-- CHECK IN MODAL --}}
<div class="modal checkInModal" id="checkInModal" tabindex="-1" role="dialog" aria-labelledby="checkInModal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #cbfbfe;">
                <h5 class="modal-title" id="exampleModalLongTitle">Check In <span style="color:#509194 ;"> ( Add stock
                        )</span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="date">Date</label>
                        <input id="date" autocomplete="off" required type="text" class="form-control shadow-none"
                            placeholder="dd/mm/yyyy" name="date">
                        <script>
                            $('.checkInModal input[name="date"]').val(moment().format('DD/MM/YYYY'))
                        </script>
                    </div>
                    <div class="form-group">
                        <label for="quantity">Quantity</label>
                        <input id="quantity" required type="number" class="form-control shadow-none" name="quantity"
                            placeholder="enter product quantity">
                    </div>
                    <div class="form-group">
                        <label for="selProductName">Product name</label>
                        <select id='selProductName' style="display:block ;" class="form-control" name="product">
                            <option value='null'>Choose product</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="desc">Description</label>
                        <textarea class="form-control shadow-none" id="desc" rows="2" style="resize: none;"
                            name="description" spellcheck="false"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <span class="error"></span>
                    <button type="submit" class="btn shadow-none"
                        style="background-color: #a1f8fe;color:#00686e ;">CHECK IN</button>
                </div>
            </form>
        </div>
    </div>
</div>


{{!-- CHECK OUT MODAL --}}
<div class="modal checkOutModal" id="checkOutModal" tabindex="-1" role="dialog" aria-labelledby="checkOutModal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #ff6a6a;color:white ">
                <h5 class="modal-title" id="exampleModalLongTitle">Check Out<span style="color:#7c0909 ;"> ( Dispatch
                        stock ) </span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="">Date</label>
                        <input autocomplete="off" required type="text" class="form-control shadow-none"
                            placeholder="dd/mm/yyyy" name="date">
                        <script>
                            $('.checkOutModal input[name="date"]').val(moment().format('DD/MM/YYYY'))
                        </script>
                    </div>
                    <div class="form-group">
                        <label for="">Quantity</label>
                        <input required type="number" class="form-control shadow-none" name="quantity"
                            placeholder="enter product quantity">
                    </div>
                    <div class="form-group">
                        <label for="productName">Product name</label>
                        <select id='selProductName' style="display:block;" class="form-control" name="product">
                            <option value='null'>Choose product</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="desc">Description</label>
                        <textarea class="form-control shadow-none" id="desc" rows="2" style="resize: none;"
                            name="description" spellcheck="false"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <span class="error"></span>
                    <button type="submit" class="btn shadow-none"
                        style="background-color: #ff9090;color:#7c0909 ;">CHECK OUT</button>
                </div>
            </form>
        </div>
    </div>
</div>

{{!-- BOTTOM RIGHT FIXED SECTION --}}
<div style="position: fixed;right:1em;bottom:1em" class="bottom-right-section">
    {{!-- <button class="btn bg-text-base-color shadow-none" onclick="$('.right-side-l-navbar').toggleClass('show')"><i
            class="bi bi-list"></i></button> --}}
    <button class="btn bg-text-base-color shadow-none" onclick="openNewItemModal()">Register Item</button>
</div>
{{/inline}}
{{#*inline "css"}}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://jquery.app/jqueryscripttop.css">
<link rel="stylesheet"
    href="https://www.jqueryscript.net/demo/Easy-Searchable-Filterable-Select-List-with-jQuery/jquery.searchableSelect.css">
<script
    src="https://www.jqueryscript.net/demo/Easy-Searchable-Filterable-Select-List-with-jQuery/jquery.searchableSelect.js"></script>

{{/inline}}
{{#*inline "script"}}
<script>
    warehouseID = `{{{warehouseID}}}`
</script>
<script src="/js/admin/warehouse/warehouse.js"></script>
{{/inline}}