/* ================================================================= */
/* TABLE */
.delivery-order-table table {
    border-collapse: collapse;
    margin: 0em 0;
    width: 100%;
    table-layout: fixed;
}

.delivery-order-table table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

.delivery-order-table table tr {
    background-color: #ffffff;
    padding: .35em;
}

.delivery-order-table table th,
.delivery-order-table table td {

    padding: 1em 0;
    text-align: center;
}

.delivery-order-table table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
    background-color: #26ABE2;
    color: white;
}

@media screen and (max-width: 600px) {
    .delivery-order-table table {
        border: 0;
    }
    .delivery-order-table table td {
        padding: 0.5em 0;
    }
    .delivery-order-table table caption {
        font-size: 1.3em;
    }

    .delivery-order-table table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    .delivery-order-table table tr {
        display: block;
        margin-bottom: .625em;
    }

    .delivery-order-table table td:nth-child(2),
    .delivery-order-table table td:nth-child(5) {
        display: none;
    }

    .delivery-order-table table td:nth-child(1),
    .delivery-order-table table td:nth-child(3),
    .delivery-order-table table td:nth-child(4),
    .delivery-order-table table td:nth-child(6), 
        .delivery-order-table table td:nth-child(7) {
        display: block;
        font-size: .8em;
        text-align: right;
    }

    /* .delivery-order-table table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    } */
    /* #all-delivery-voucher-tbody > tr > td:nth-child(7){
        display: none;
    } */
    .delivery-order-table table td::before {
        /*
          aria-label has no advantage, it won't be read inside a table
          content: attr(aria-label);
          */
        margin-left: 1em;
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    .delivery-order-table table td:last-child {
        border-bottom: 0;
    }
}

/* ============================================================================================================================= */

.menu-link[data-link="vouchers"] {
    background-color: #26ABE2;
    color: #fff !important;
}

.tb-row {
    cursor: pointer;
}

.tb-row:hover {
    background-color: #f9f9f9;
}

.voucher-details-container {
    height: 100vh;
    width: calc(100vw - 16.7em);
    background-color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    overflow-y: auto;
}
@media (max-width:1200px) {
    .voucher-details-container {
        height: 100vh;
        width: 100vw;
    }
}
.page-title {
    position: relative;
    left: -1.2em;
    top: 1em;
    z-index: 1;
    background-color: #fff;
    box-shadow: 15px 4px 21px -3px rgba(0, 0, 0, 0.1);
    transition: all 0.1s ease-in-out;
}

.page-right-title {
    position: absolute;
    top: 0.5em;
    right: 0;
    z-index: 1;
}

.nav-link.active.bg-base-color-nav {
    background-color: #26abe2 !important;
}

.view-details-divider {
    background: #F7F9FB;
    font-size: 0.9em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    height: 36px;
    display: flex;
    align-items: center;
    padding: 0 30px;
    border-top: 1px solid #dedfdf;
}

span[data-dispatch-status="Pending"] {
    border: 1px solid #e96d8a;
    background-color: #fdf5f7;
    color: #e96d8a;
    padding: 0.3em 0.5em;
    border-radius: 5px;
}
span[data-dispatch-status="Dispatched"]{
    border: 1px solid #2fb083;
    background-color: #ebf8f5;
    color: #2fb083;
    padding: 0.3em 0.5em;
    border-radius: 5px;
}

.modal-body{
    background-color: #fff;
    height: 20em;
}