.main-loading {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #004377;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    z-index: 9999999;
}

#loading-logo {
    transform: scale(calc(1/3));
}

#loading-logo path:nth-child(1) {
    stroke-dasharray: 2013.751220703125px;
    stroke-dashoffset: 2013.751220703125px;
    animation: line-anime 2s infinite ease-in-out, fill-white 2s ease-in-out 1.5s infinite;
}

#loading-logo path:nth-child(2) {
    stroke-dasharray: 1902.4432373046875px;
    stroke-dashoffset: 1902.4432373046875px;
    animation: line-anime 2s infinite ease-in-out, fill-blue 2s ease-in-out 1.5s infinite;
}

#loading-logo path:nth-child(3) {
    stroke-dasharray: 649.2719116210938px;
    stroke-dashoffset: 649.2719116210938px;
    animation: line-anime 2s infinite ease-in-out, fill-white 2s ease-in-out 1.5s infinite;
}

#loading-logo path:nth-child(4) {
    stroke-dasharray: 474.33349609375px;
    stroke-dashoffset: 474.33349609375px;
    animation: line-anime 2s infinite ease-in-out, fill-white 2s ease-in-out 1.5s infinite;
}

#loading-logo path:nth-child(5) {
    stroke-dasharray: 317.88238525390625px;
    stroke-dashoffset: 317.88238525390625px;
    animation: line-anime 2s infinite ease-in-out, fill-white 2s ease-in-out 1.5s infinite;
}

#loading-logo path:nth-child(6) {
    stroke-dasharray: 313.58001708984375px;
    stroke-dashoffset: 313.58001708984375px;
    animation: line-anime 2s infinite ease-in-out, fill-white 2s ease-in-out 1.5s infinite;
}

#loading-logo path:nth-child(7) {
    stroke-dasharray: 191.29739379882812px;
    stroke-dashoffset: 191.29739379882812px;
    animation: line-anime 2s infinite ease-in-out, fill-white 2s ease-in-out 1.5s infinite;
}

#loading-logo path:nth-child(8) {
    stroke-dasharray: 192.25497436523438px;
    stroke-dashoffset: 192.25497436523438px;
    animation: line-anime 2s infinite ease-in-out, fill-white 2s ease-in-out 1.5s infinite;
}

#loading-logo path:nth-child(9) {
    stroke-dasharray: 208.6147918701172px;
    stroke-dashoffset: 208.6147918701172px;
    animation: line-anime 2s infinite ease-in-out, fill-white 2s ease-in-out 1.5s infinite;
}

#loading-logo path:nth-child(10) {
    stroke-dasharray: 384.82269287109375px;
    stroke-dashoffset: 384.82269287109375px;
    animation: line-anime 2s infinite ease-in-out, fill-white 2s ease-in-out 1.5s infinite;
}

#loading-logo path:nth-child(11) {
    stroke-dasharray: 2022.06103515625px;
    stroke-dashoffset: 2022.06103515625px;
    animation: line-anime 2s infinite ease-in-out;
}

#loading-logo path:nth-child(12) {
    stroke-dasharray: 342.15972900390625px;
    stroke-dashoffset: 342.15972900390625px;
    animation: line-anime 2s infinite ease-in-out, fill-white 2s ease-in-out 1.5s infinite;
}

#loading-logo path:nth-child(13) {
    stroke-dasharray: 598.8279418945312px;
    stroke-dashoffset: 598.8279418945312px;
    animation: line-anime 2s infinite ease-in-out, fill-white 2s ease-in-out 1.5s infinite;
}

#loading-logo path:nth-child(14) {
    stroke-dasharray: 425.1001281738281px;
    stroke-dashoffset: 425.1001281738281px;
    animation: line-anime 2s infinite ease-in-out, fill-white 2s ease-in-out 1.5s infinite;
}

#loading-logo path:nth-child(15) {
    stroke-dasharray: 515.9257202148438px;
    stroke-dashoffset: 515.9257202148438px;
    animation: line-anime 2s infinite ease-in-out, fill-white 2s ease-in-out 1.5s infinite;
}

#loading-logo path:nth-child(16) {
    stroke-dasharray: 381.0455322265625px;
    stroke-dashoffset: 381.0455322265625px;
    animation: line-anime 2s infinite ease-in-out, fill-blue 2s ease-in-out 1.5s infinite;
}

#loading-logo path:nth-child(17) {
    stroke-dasharray: 332.8684387207031px;
    stroke-dashoffset: 332.8684387207031px;
    animation: line-anime 2s infinite ease-in-out, fill-white 2s ease-in-out 1.5s infinite;
}

#loading-logo path:nth-child(18) {
    stroke-dasharray: 222.8046875px;
    stroke-dashoffset: 222.8046875px;
    animation: name duration timing-function delay iteration-count direction fill-mode;
    animation: line-anime 2s infinite ease-in-out, fill-blue 2s ease-in-out 1.5s infinite;
}


/* #loading-logo path:nth-child(19) {
    stroke-dasharray: 222.8046875px;
    stroke-dashoffset: 222.8046875px;
    animation: name duration timing-function delay iteration-count direction fill-mode;
    animation: line-anime 2s infinite ease-in-out, fill-blue 2s ease-in-out 1.5s infinite;
} */

@keyframes line-anime {
    75% {
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes fill-white {
    0% {
        fill: transparent;
    }
    25% {
        fill: white;
    }
    40% {
        fill: transparent;
    }
}

@keyframes fill-blue {
    0% {
        fill: transparent;
    }
    25% {
        fill: #005BA2;
    }
    40% {
        fill: transparent;
    }
}

@media screen and (max-width:650px) {
    #loading-logo {
        transform: scale(calc(1/2));
    }
}